.btn {
	float: left;
	padding: 0 .625rem;

	border-radius: 2px;
	cursor: pointer;

	font-size: .875rem;
	font-weight: bold;
	line-height: 2.5rem;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}

/*Disabled*/
.btn.disabled {
	opacity: .5;

	pointer-events: none;
}

/*Tag*/
.btn-tag {
	background-color: #ECEEF5;
	cursor: default;
}

/*Link*/
.btn-link {
	background-color: white;
	box-shadow: inset 0 0 0 1px #D5D6E0;
}

.btn-link:hover { background-color: #ECEEF5; }
.btn-link.active { background-color: #D5D6E0; }

.btn-link.disabled { background-color: #ECEEF5; }

/*Primary*/
.btn-primary { background-color: #ECEEF5; }
.btn-primary.btn.active,
.btn-primary.btn.active:hover {
	background-color: #5D6FBA;
	color: white;
}

.btn-primary.btn:hover { background-color: #D5D6E0; }

/*Group*/
.btn-group .btn { border-radius: 0; }
.btn-group .btn:first-child { border-radius: 2px 0 0 2px; }
.btn-group .btn:last-child { border-radius: 0 2px 2px 0; }
.btn-group .btn:not(:first-child) { margin-left: -1px; }
