.output {
	color: #A2A2AD;
	user-select: all;
	-webkit-user-select: all;

	font-family: "Source Code Pro", monospace;
	font-size: 0.75rem;
	tab-size: 4;
	white-space: normal;
}

.output .class { color: #FF5656; }
