{
    "parserOptions": {
          "ecmaVersion": 7,
          "sourceType": "module"
    },
    "globals": {
        "__dirname": true,
        "angular": true,
        "API": true,
        "canvas": true,
        "confirm": true,
        "console": true,
        "document": true,
        "process": true,
        "Raven": true,
        "require": true,
        "requestAnimationFrame": true,
        "setTimeout": true,
        "window": true
    },
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "arrow-spacing": [ "error", { "before": true, "after": true } ],
        "block-spacing": ["error"],
        "brace-style": [ "warn", "1tbs", { "allowSingleLine": true } ],
        "camelcase": 0,
        "comma-dangle": ["error", "never"],
        "comma-spacing": [ "error", { "before": false, "after": true } ],
        "eol-last": ["error", "always"],
        "func-call-spacing": ["error", "never"],
        "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
        "indent": ["error", "tab", { "SwitchCase": 1 }],
        "key-spacing": ["error", { "beforeColon": false }],
        "keyword-spacing": ["error", { "overrides": {
            "if": { "after": false },
            "for": { "after": false },
            "switch": { "after": false },
            "while": { "after": false }
        } }],
        "line-comment-position": ["error", { "position": "above" }],
        "lines-around-comment": ["error", { "beforeBlockComment": true }],
        "lines-around-directive": ["error", "always"],
        "max-len": ["warn", 120],
        "multiline-ternary": ["error", "never"],
        "newline-after-var": ["error", "always"],
        "newline-before-return": "error",
        "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 4 }],
        "no-bitwise": "error",
        "no-delete-var": "error",
        "no-duplicate-imports": "error",
        "no-inline-comments": "error",
        "no-lone-blocks": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": [ "error", { "max": 1, "maxEOF": 1 } ],
        "no-restricted-globals": ["error", "event"],
        "no-trailing-spaces": "error",
        "no-undef": "warn",
        "no-undefined": "error",
        "no-underscore-dangle": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-var": "error",
        "no-whitespace-before-property": "error",
        "object-curly-spacing": ["error", "always"],
        "object-property-newline": 0,
        "padded-blocks": [0, "never"],
        "quotes": ["error", "double", { "allowTemplateLiterals": true }],
        "semi": ["error", "always"],
        "semi-spacing": ["error", { "before": false, "after": true }],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "spaced-comment": ["error", "always", { "block": { "balanced": true } }],
        "template-curly-spacing": ["error", "always"],
    }
}
