<main class="main">

	<!-- Hero -->
	<div class="hero white">
		<div class="container-large">
			<div class="flex flex--center flex--column py-4 center minvh-66">
				<img src="/app/app/images/fractures.svg" style="height: 160px; width: 160px;" alt="fractures" class="mb-2">
				<h1>fractures</h1>
				<p>Atomic CSS toolkit.</p>
				<div class="mt-2">
					<a
						href="https://github.com/krisztianpuska/fractures/releases"
						class="btn btn-dark mr-1">
						Download
						<small class="regular float-right ml-1">{{ meta.size }} kb</small>
					</a>
					<a href="https://github.com/krisztianpuska/fractures" class="btn btn-dark">GitHub</a>
				</div>
			</div>
			<div class="flex flex--collapse gutter-3 py-3">
				<div class="flex flex--ycenter grow-1">
					<img src="/app/app/images/browser.png" style="height: 125px; width: 125px;" class="mr-2">
					<div class="grow-1">
						<h3 class="regular">What it does?</h3>
						<p>Helps you bootstrap design-systems and prototypes by providing a set of non-blocking, atomic, utility classes.</p>
					</div>
				</div>
				<div class="flex flex--ycenter grow-1">
					<img src="/app/app/images/reset.png" style="height: 125px; width: 125px;" class="mr-2">
					<div class="grow-1">
						<h3 class="regular">That's it?</h3>
						<p>It also soft resets HTML elements and sets a basic typescale. Leaves UI untouched.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Flex demo -->
	<flex></flex>

	<!-- Info -->
	<div class="container-large flex flex--collapse gutter-3 pt-3">

		<!-- Docs -->
		<div class="grow-1">
			<h2>Docs</h2>
			<h4 class="regular mb-1">Usage</h4>
			<ul class="list-disc ml-3 mb-2">
				<li>There is a naïve, em-based typescale, for which you must define font-size and line-height on body.</li>
				<li>Blocks of margin and padding are built as 16px &mdash; you can overwrite this in src/variables.</li>
			</ul>

			<h4 class="regular mb-1">Development</h4>
			<ul class="list-disc ml-3 mb-2">
				<li>git clone <a href="https://github.com/krisztianpuska/fractures.git"><b>https://github.com/krisztianpuska/fractures.git</b></a></li>
				<li>npm install, start, watch</li>
				<li>npm build, test</li>
				<li>npm run demo-build <small>builds demo site</small></li>
				<li>npm run demo-watch <small>watches demo site</small></li>
			</ul>

			<h4 class="regular mb-1">Download</h4>
			<ul class="list-disc ml-3 mb-3">
				<li>npm install fractures</li>
				<li>download vanilla &rarr; <a href="/dist/fractures.min.css"><b>fractures.min.css</b></a></li>
				<li>download prefixed for latest 2 browser version &rarr; <a href="/dist/fractures.prefixed.min.css"><b>fractures.prefixed.min.css</b></a></li>
			</ul>

			<h4 class="regular mb-1">Basic examples</h4>
			<ul class="list-disc ml-3 mb-3">
				<li><a href="/examples/center.html"><b>centered content</b></a></li>
				<li><a href="/examples/container.html"><b>containers</b></a></li>
				<li><a href="/examples/gutter.html"><b>grid</b></a></li>
				<li><a href="/examples/sticky-footer.html"><b>sticky footer</b></a></li>
			</ul>
		</div>

		<!-- Class loop -->
		<div class="grow-1">
			<h2>List</h2>
			<div
				*ngFor="let x of fracturesArray | MapToIterable"
				class="mb-2">
				<h5 class="regular mb-1">{{ x.key }}</h5>
				<div
					*ngFor="let option of x.val | MapToIterable"
					class="clearfix">
					<div
						*ngFor="let class of option.val | MapToIterable"
						class="btn btn-tag">{{ class.val }}</div>
				</div>
			</div>
		</div>
	</div>
</main>
