.tabs__ol {
	position: relative;

	height: 36px;
	padding: 0 8px 0 0;

	box-shadow: inset 0 -1px 0 0 var(--ui-border);

	line-height: 36px;
}

.tabs__ol__item {
	padding: 0 12px;

	border-radius: 4px 4px 0 0;
	border: 1px solid var(--ui-border);

	cursor: pointer;
}

.tabs__ol__itemActive {
	border-bottom-color: var(--ui-bg);
}

.tabs__section {
	padding: 24px 0;
}
