.searchResults {
  width: 360px;

	animation: 160ms 1 alternate fadeIn;
}

.searchResults ol {
  max-height: 460px;
  overflow-y: scroll;

  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 1px, rgba(0, 0, 0, 0.03) 0px 1px 2px,
    rgba(0, 0, 0, 0.1) 0px 1px 8px;
}

.searchResults ol li {
  transition: background-color 60ms ease-in-out;
}

.searchResults ol > li:not(:last-child) {
  border-bottom: 1px solid var(--gray-100);
}

.searchResults ol::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.searchResults ol::-webkit-scrollbar-thumb {
  background-color: var(--purple-700);
  border-radius: 2px 0 0 2px;
}

.searchResults ol::-webkit-scrollbar-track {
  background-color: var(--gray-100);
  border-left: 1px solid var(--gray-200);
}

.searchResults ol::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}

.searchResults ol::-webkit-scrollbar-track {
  border-left: 0;
}

.searchResultsCop {
  display: none;
}

.searchResults ol li:hover .searchResults__copy {
  display: flex;
}

@keyframes fadeIn {
  from {
    transform: translateY(-16px);
  }

  to {
    transform: translateY(0);
  }
}