:root {
	--box-1: 8px;
	--box-2: 16px;
	--box-3: 24px;
	--box-4: 32px;
	--box-5: 64px;
	--box-6: 128px;

	--white: white;
	--whitesmoke: whitesmoke;
	--lightgray: lightgray;
	--silver: silver;
	--darkgray: darkgray;
	--gray: gray;
	--dimgray: dimgray;
	--black: black;

	--normal: normal;
	--bold: bold;
}
