details.details {
	padding: 0;

	border: 1px solid var(--ui-border);
	background-color: var(--ui-bg);
	border-radius: var(--radius-normal);
}

details.details summary + * {
	padding: 24px;

	box-shadow: inset 0 1px 0 0 var(--ui-border);
}

details.details[open] summary svg {
	transform: rotate(180deg);
}

details.details summary::-webkit-details-marker {
	display: none;
}

details.details summary {
	align-items: center;
	display: flex;
	padding: 12px 16px;

	border-radius: var(--radius-normal);
	color: var(--ui-text-primary);
	cursor: pointer;
	user-select: none;
}

details.details[open] summary {
	border-radius: var(--radius-normal) var(--radius-normal) 0 0;
}
