.demo {
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #DFE0E6;
}

.demo--helpers {
	background-image: linear-gradient(0deg,
		white 0%,
		white 50%,
		#ededed 50%,
		#ededed 55%,
		white 55%,
		white 100%
	);
	background-size: 16px 16px;
	background-position: 0 8px, 0 0;
}

.demo--helpers > *:nth-child(odd) { background-color: rgba(100, 0, 0, .1); }
.demo--helpers > *:nth-child(even) { background-color: rgba(100, 0, 0, .05); }
