<div class="mb-4">
	<div class="container">
		<h1>Typo</h1>
	</div>
	<div class="container">

		<!-- Demo options -->
		<div class="clearfix mb-1">
			<div class="btn-group float-right">
				<a class="btn" (click)="fontSize = 12" [ngClass]="{ 'active': fontSize === 12 }">12px</a>
				<a class="btn" (click)="fontSize = 14" [ngClass]="{ 'active': fontSize === 14 }">14px</a>
				<a class="btn" (click)="fontSize = 16" [ngClass]="{ 'active': fontSize === 16 }">16px</a>
				<a class="btn" (click)="fontSize = 18" [ngClass]="{ 'active': fontSize === 18 }">18px</a>
				<a class="btn" (click)="fontSize = 20" [ngClass]="{ 'active': fontSize === 20 }">20px</a>
				<a class="btn" (click)="fontSize = 22" [ngClass]="{ 'active': fontSize === 22 }">22px</a>
				<a class="btn" (click)="fontSize = 24" [ngClass]="{ 'active': fontSize === 24 }">24px</a>
			</div>
			<div class="float-right mr-1">
				<a class="btn" (click)="output = !output" [ngClass]="{ 'active': !output }">code</a>
			</div>
		</div>

		<!-- Demo -->
		<div
			[ngClass]="formatClasses"
			[style.font-size.px]="fontSize"
			class="demo">
			<h1 class="normal px-1">Snare ocean truth joy society deceptions.</h1>
			<ul class="px-1">
				<li>Law battle</li>
				<li>Noble enlightenment</li>
			</ul>
			<ol class="px-1">
				<li>Value horror christianity</li>
				<li>Against marvelous convictions</li>
			</ol>
			<p class="px-1">Hope battle reason burying madness hatred overcome grandeur of. Self self battle sexuality burying pious convictions against decieve ultimate morality passion faithful.</p>
			<p class="px-1">Horror endless faithful victorious superiority hope aversion suicide. Prejudice suicide transvaluation philosophy chaos sea joy fearful chaos contradict hatred.</p>
			<h1 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h1>
			<h2 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h2>
			<h3 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h3>
			<h4 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h4>
			<h5 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h5>
			<h6 class="px-1">Fearful transvaluation play zarathustra moral enlightenment christianity war.</h6>
			<small class="px-1 block">Fearful love abstract ultimate holiest ubermensch superiority pinnacle faithful snare.</small>
			<hr>
			<div class="px-1">
				<h5 class="normal">Utility: normal</h5>
				<span class="bold">bold</span>
				<span class="italic">italic</span>
				<span class="nowrap">nowrap</span>
				<span class="pre-line">pre-line</span>
				<div class="center">center</div>
				<div class="left">left</div>
				<div class="right">right</div>
				<span class="uppercase">uppercase</span>
			</div>
		</div>

		<!-- Code -->
		<pre
			*ngIf="!output"
			class="output p-1">
			<div>&lt;div<span *ngIf="formatOptions.format.selected === 0"> class="<span class="class">format</span>"</span>&gt;</div>
			<div class="pl-2">&lt;h1&gt;&lt;/h1&gt;</div>
			<div class="pl-2">&lt;ul&gt;</div>
			<div class="pl-3">&lt;li&gt;&lt;/li&gt;</div>
			<div class="pl-3">&lt;li&gt;&lt;/li&gt;</div>
			<div class="pl-2">&lt;/ul&gt;</div>
			<div class="pl-2">&lt;ol&gt;</div>
			<div class="pl-3">&lt;li&gt;&lt;/li&gt;</div>
			<div class="pl-3">&lt;li&gt;&lt;/li&gt;</div>
			<div class="pl-2">&lt;/ol&gt;</div>
			<div class="pl-2">&lt;p&gt;&lt;/p&gt;</div>
			<div class="pl-2">&lt;p&gt;&lt;/p&gt;</div>
			<div class="pl-2">&lt;h1&gt;&lt;/h1&gt;</div>
			<div class="pl-2">&lt;h2&gt;&lt;/h2&gt;</div>
			<div class="pl-2">&lt;h3&gt;&lt;/h3&gt;</div>
			<div class="pl-2">&lt;h4&gt;&lt;/h4&gt;</div>
			<div class="pl-2">&lt;h5&gt;&lt;/h5&gt;</div>
			<div class="pl-2">&lt;h6&gt;&lt;/h6&gt;</div>
			<div class="pl-2">&lt;small&gt;&lt;/small&gt;</div>
			<div class="pl-2">&lt;hr&gt;</div>
			<div class="pl-2">&lt;h5 class="<span class="class">normal</span>"&gt;&lt;/h5&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">bold</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">italic</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">nowrap</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">pre-line</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">center</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">left</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">right</span>"&gt;&lt;/span&gt;</div>
			<div class="pl-2">&lt;span class="<span class="class">uppercase</span>"&gt;&lt;/span&gt;</div>
			<div>&lt;/div&gt;</div>
		</pre>

		<!-- Options -->
		<div class="pt-2">
			<h4 class="normal">Options</h4>
			<options-toggle [classes]="formatClasses" [options]="formatOptions"></options-toggle>
		</div>

		<!-- TODO Notes -->
	</div>
</div>
