body {
	background-color: white;
	color: #575765;

	font-family: "Arimo", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a { color: #575765; }

.btn {
	float: left;
	padding: 0 .625rem;

	cursor: pointer;

	font-size: .75rem;
	font-weight: bold;
	line-height: 2.5rem;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}

.btn.disabled {
	opacity: .5;

	pointer-events: none;
}

.btn-white {
	background-color: white;
	color: #3D4275;
}

.btn-dark {
	background-color: #3D4275;
	color: white;
}

.btn-dark small { color: #A2A2AD; }

.btn-tag {
	margin: 0 .125rem .125rem 0;

	background-color: #ECEEF5;
	cursor: default;
	user-select: all;
	-webkit-user-select: all;
}

.btn-link {
	background-color: white;
	box-shadow: inset 0 0 0 1px #D5D6E0;
}

.btn-link:hover { background-color: #ECEEF5; }
.btn-link.active { background-color: #D5D6E0; }
.btn-link.disabled { background-color: #ECEEF5; }

.btn-group .btn:not(:first-child) { margin-left: -1px; }

.hero { background-color: #AACCE1; }
