.pre {
  flex-grow: 1;
  padding: var(--box-8) var(--box-16);

	background: linear-gradient(
		to right,
		var(--gray-100),
		var(--gray-100) var(--box-16),
		var(--gray-50) calc(var(--box-16) + 2px),
		var(--gray-50) 100%
	);

	counter-reset: line;
	font-size: var(--font-size-small);
	line-height: var(--line-height-p);
	tab-size: 4;
}

.pre code {
  position: relative;

  display: inline-flex;
  padding: 0 var(--box-8);

  color: var(--gray-700);
}

.pre code:before {
  position: absolute;
  left: calc(var(--box-16) * -1);

  width: var(--box-16);

  color: var(--gray-500);
  counter-increment: line;
  content: counter(line);

  user-select: none;
  text-align: center;
}

.pre mark {
  background-color: transparent;
  color: var(--purple-500);
}