.bg-gray-0 { background-color: var(--gray-0); }
.bg-gray-25 { background-color: var(--gray-25); }
.bg-gray-50 { background-color: var(--gray-50); }
.bg-gray-100 { background-color: var(--gray-100); }
.bg-gray-200 { background-color: var(--gray-200); }
.bg-gray-300 { background-color: var(--gray-300); }
.bg-gray-400 { background-color: var(--gray-400); }
.bg-gray-500 { background-color: var(--gray-500); }
.bg-gray-600 { background-color: var(--gray-600); }
.bg-gray-700 { background-color: var(--gray-700); }
.bg-gray-800 { background-color: var(--gray-800); }
.bg-gray-900 { background-color: var(--gray-900); }
.bg-gray-1000 { background-color: var(--gray-1000); }

.bg-red-100 { background-color: var(--red-100); }
.bg-red-200 { background-color: var(--red-200); }
.bg-red-300 { background-color: var(--red-300); }
.bg-red-400 { background-color: var(--red-400); }
.bg-red-500 { background-color: var(--red-500); }
.bg-red-600 { background-color: var(--red-600); }
.bg-red-700 { background-color: var(--red-700); }
.bg-red-800 { background-color: var(--red-800); }
.bg-red-900 { background-color: var(--red-900); }

.bg-green-100 { background-color: var(--green-100); }
.bg-green-200 { background-color: var(--green-200); }
.bg-green-300 { background-color: var(--green-300); }
.bg-green-400 { background-color: var(--green-400); }
.bg-green-500 { background-color: var(--green-500); }
.bg-green-600 { background-color: var(--green-600); }
.bg-green-700 { background-color: var(--green-700); }
.bg-green-800 { background-color: var(--green-800); }
.bg-green-900 { background-color: var(--green-900); }

.bg-blue-100 { background-color: var(--blue-100); }
.bg-blue-200 { background-color: var(--blue-200); }
.bg-blue-300 { background-color: var(--blue-300); }
.bg-blue-400 { background-color: var(--blue-400); }
.bg-blue-500 { background-color: var(--blue-500); }
.bg-blue-600 { background-color: var(--blue-600); }
.bg-blue-700 { background-color: var(--blue-700); }
.bg-blue-800 { background-color: var(--blue-800); }
.bg-blue-900 { background-color: var(--blue-900); }

.bg-yellow-100 { background-color: var(--yellow-100); }
.bg-yellow-200 { background-color: var(--yellow-200); }
.bg-yellow-300 { background-color: var(--yellow-300); }
.bg-yellow-400 { background-color: var(--yellow-400); }
.bg-yellow-500 { background-color: var(--yellow-500); }
.bg-yellow-600 { background-color: var(--yellow-600); }
.bg-yellow-700 { background-color: var(--yellow-700); }
.bg-yellow-800 { background-color: var(--yellow-800); }
.bg-yellow-900 { background-color: var(--yellow-900); }

.bg-purple-100 { background-color: var(--purple-100); }
.bg-purple-200 { background-color: var(--purple-200); }
.bg-purple-300 { background-color: var(--purple-300); }
.bg-purple-400 { background-color: var(--purple-400); }
.bg-purple-500 { background-color: var(--purple-500); }
.bg-purple-600 { background-color: var(--purple-600); }
.bg-purple-700 { background-color: var(--purple-700); }
.bg-purple-800 { background-color: var(--purple-800); }
.bg-purple-900 { background-color: var(--purple-900); }

.bg-pink-100 { background-color: var(--pink-100); }
.bg-pink-200 { background-color: var(--pink-200); }
.bg-pink-300 { background-color: var(--pink-300); }
.bg-pink-400 { background-color: var(--pink-400); }
.bg-pink-500 { background-color: var(--pink-500); }
.bg-pink-600 { background-color: var(--pink-600); }
.bg-pink-700 { background-color: var(--pink-700); }
.bg-pink-800 { background-color: var(--pink-800); }
.bg-pink-900 { background-color: var(--pink-900); }

.hover\:bg-gray-0:hover { background-color: var(--gray-0); }
.hover\:bg-gray-25:hover { background-color: var(--gray-25); }
.hover\:bg-gray-50:hover { background-color: var(--gray-50); }
.hover\:bg-gray-100:hover { background-color: var(--gray-100); }
.hover\:bg-gray-200:hover { background-color: var(--gray-200); }
.hover\:bg-gray-300:hover { background-color: var(--gray-300); }
.hover\:bg-gray-400:hover { background-color: var(--gray-400); }
.hover\:bg-gray-500:hover { background-color: var(--gray-500); }
.hover\:bg-gray-600:hover { background-color: var(--gray-600); }
.hover\:bg-gray-700:hover { background-color: var(--gray-700); }
.hover\:bg-gray-800:hover { background-color: var(--gray-800); }
.hover\:bg-gray-900:hover { background-color: var(--gray-900); }
.hover\:bg-gray-1000:hover { background-color: var(--gray-1000); }

.hover\:bg-red-100:hover { background-color: var(--red-100); }
.hover\:bg-red-200:hover { background-color: var(--red-200); }
.hover\:bg-red-300:hover { background-color: var(--red-300); }
.hover\:bg-red-400:hover { background-color: var(--red-400); }
.hover\:bg-red-500:hover { background-color: var(--red-500); }
.hover\:bg-red-600:hover { background-color: var(--red-600); }
.hover\:bg-red-700:hover { background-color: var(--red-700); }
.hover\:bg-red-800:hover { background-color: var(--red-800); }
.hover\:bg-red-900:hover { background-color: var(--red-900); }

.hover\:bg-green-100:hover { background-color: var(--green-100); }
.hover\:bg-green-200:hover { background-color: var(--green-200); }
.hover\:bg-green-300:hover { background-color: var(--green-300); }
.hover\:bg-green-400:hover { background-color: var(--green-400); }
.hover\:bg-green-500:hover { background-color: var(--green-500); }
.hover\:bg-green-600:hover { background-color: var(--green-600); }
.hover\:bg-green-700:hover { background-color: var(--green-700); }
.hover\:bg-green-800:hover { background-color: var(--green-800); }
.hover\:bg-green-900:hover { background-color: var(--green-900); }

.hover\:bg-blue-100:hover { background-color: var(--blue-100); }
.hover\:bg-blue-200:hover { background-color: var(--blue-200); }
.hover\:bg-blue-300:hover { background-color: var(--blue-300); }
.hover\:bg-blue-400:hover { background-color: var(--blue-400); }
.hover\:bg-blue-500:hover { background-color: var(--blue-500); }
.hover\:bg-blue-600:hover { background-color: var(--blue-600); }
.hover\:bg-blue-700:hover { background-color: var(--blue-700); }
.hover\:bg-blue-800:hover { background-color: var(--blue-800); }
.hover\:bg-blue-900:hover { background-color: var(--blue-900); }

.hover\:bg-yellow-100:hover { background-color: var(--yellow-100); }
.hover\:bg-yellow-200:hover { background-color: var(--yellow-200); }
.hover\:bg-yellow-300:hover { background-color: var(--yellow-300); }
.hover\:bg-yellow-400:hover { background-color: var(--yellow-400); }
.hover\:bg-yellow-500:hover { background-color: var(--yellow-500); }
.hover\:bg-yellow-600:hover { background-color: var(--yellow-600); }
.hover\:bg-yellow-700:hover { background-color: var(--yellow-700); }
.hover\:bg-yellow-800:hover { background-color: var(--yellow-800); }
.hover\:bg-yellow-900:hover { background-color: var(--yellow-900); }

.hover\:bg-purple-100:hover { background-color: var(--purple-100); }
.hover\:bg-purple-200:hover { background-color: var(--purple-200); }
.hover\:bg-purple-300:hover { background-color: var(--purple-300); }
.hover\:bg-purple-400:hover { background-color: var(--purple-400); }
.hover\:bg-purple-500:hover { background-color: var(--purple-500); }
.hover\:bg-purple-600:hover { background-color: var(--purple-600); }
.hover\:bg-purple-700:hover { background-color: var(--purple-700); }
.hover\:bg-purple-800:hover { background-color: var(--purple-800); }
.hover\:bg-purple-900:hover { background-color: var(--purple-900); }

.hover\:bg-pink-100:hover { background-color: var(--pink-100); }
.hover\:bg-pink-200:hover { background-color: var(--pink-200); }
.hover\:bg-pink-300:hover { background-color: var(--pink-300); }
.hover\:bg-pink-400:hover { background-color: var(--pink-400); }
.hover\:bg-pink-500:hover { background-color: var(--pink-500); }
.hover\:bg-pink-600:hover { background-color: var(--pink-600); }
.hover\:bg-pink-700:hover { background-color: var(--pink-700); }
.hover\:bg-pink-800:hover { background-color: var(--pink-800); }
.hover\:bg-pink-900:hover { background-color: var(--pink-900); }