.gray-0 { color: var(--gray-0); }
.gray-25 { color: var(--gray-25); }
.gray-50 { color: var(--gray-50); }
.gray-100 { color: var(--gray-100); }
.gray-200 { color: var(--gray-200); }
.gray-300 { color: var(--gray-300); }
.gray-400 { color: var(--gray-400); }
.gray-500 { color: var(--gray-500); }
.gray-600 { color: var(--gray-600); }
.gray-700 { color: var(--gray-700); }
.gray-800 { color: var(--gray-800); }
.gray-900 { color: var(--gray-900); }
.gray-1000 { color: var(--gray-1000); }

.red-100 { color: var(--red-100); }
.red-200 { color: var(--red-200); }
.red-300 { color: var(--red-300); }
.red-400 { color: var(--red-400); }
.red-500 { color: var(--red-500); }
.red-600 { color: var(--red-600); }
.red-700 { color: var(--red-700); }
.red-800 { color: var(--red-800); }
.red-900 { color: var(--red-900); }

.green-100 { color: var(--green-100); }
.green-200 { color: var(--green-200); }
.green-300 { color: var(--green-300); }
.green-400 { color: var(--green-400); }
.green-500 { color: var(--green-500); }
.green-600 { color: var(--green-600); }
.green-700 { color: var(--green-700); }
.green-800 { color: var(--green-800); }
.green-900 { color: var(--green-900); }

.blue-100 { color: var(--blue-100); }
.blue-200 { color: var(--blue-200); }
.blue-300 { color: var(--blue-300); }
.blue-400 { color: var(--blue-400); }
.blue-500 { color: var(--blue-500); }
.blue-600 { color: var(--blue-600); }
.blue-700 { color: var(--blue-700); }
.blue-800 { color: var(--blue-800); }
.blue-900 { color: var(--blue-900); }

.yellow-100 { color: var(--yellow-100); }
.yellow-200 { color: var(--yellow-200); }
.yellow-300 { color: var(--yellow-300); }
.yellow-400 { color: var(--yellow-400); }
.yellow-500 { color: var(--yellow-500); }
.yellow-600 { color: var(--yellow-600); }
.yellow-700 { color: var(--yellow-700); }
.yellow-800 { color: var(--yellow-800); }
.yellow-900 { color: var(--yellow-900); }

.purple-100 { color: var(--purple-100); }
.purple-200 { color: var(--purple-200); }
.purple-300 { color: var(--purple-300); }
.purple-400 { color: var(--purple-400); }
.purple-500 { color: var(--purple-500); }
.purple-600 { color: var(--purple-600); }
.purple-700 { color: var(--purple-700); }
.purple-800 { color: var(--purple-800); }
.purple-900 { color: var(--purple-900); }

.pink-100 { color: var(--pink-100); }
.pink-200 { color: var(--pink-200); }
.pink-300 { color: var(--pink-300); }
.pink-400 { color: var(--pink-400); }
.pink-500 { color: var(--pink-500); }
.pink-600 { color: var(--pink-600); }
.pink-700 { color: var(--pink-700); }
.pink-800 { color: var(--pink-800); }
.pink-900 { color: var(--pink-900); }

.hover\:gray-0:hover { color: var(--gray-0); }
.hover\:gray-25:hover { color: var(--gray-25); }
.hover\:gray-50:hover { color: var(--gray-50); }
.hover\:gray-100:hover { color: var(--gray-100); }
.hover\:gray-200:hover { color: var(--gray-200); }
.hover\:gray-300:hover { color: var(--gray-300); }
.hover\:gray-400:hover { color: var(--gray-400); }
.hover\:gray-500:hover { color: var(--gray-500); }
.hover\:gray-600:hover { color: var(--gray-600); }
.hover\:gray-700:hover { color: var(--gray-700); }
.hover\:gray-800:hover { color: var(--gray-800); }
.hover\:gray-900:hover { color: var(--gray-900); }
.hover\:gray-1000:hover { color: var(--gray-1000); }

.hover\:red-100:hover { color: var(--red-100); }
.hover\:red-200:hover { color: var(--red-200); }
.hover\:red-300:hover { color: var(--red-300); }
.hover\:red-400:hover { color: var(--red-400); }
.hover\:red-500:hover { color: var(--red-500); }
.hover\:red-600:hover { color: var(--red-600); }
.hover\:red-700:hover { color: var(--red-700); }
.hover\:red-800:hover { color: var(--red-800); }
.hover\:red-900:hover { color: var(--red-900); }

.hover\:green-100:hover { color: var(--green-100); }
.hover\:green-200:hover { color: var(--green-200); }
.hover\:green-300:hover { color: var(--green-300); }
.hover\:green-400:hover { color: var(--green-400); }
.hover\:green-500:hover { color: var(--green-500); }
.hover\:green-600:hover { color: var(--green-600); }
.hover\:green-700:hover { color: var(--green-700); }
.hover\:green-800:hover { color: var(--green-800); }
.hover\:green-900:hover { color: var(--green-900); }

.hover\:blue-100:hover { color: var(--blue-100); }
.hover\:blue-200:hover { color: var(--blue-200); }
.hover\:blue-300:hover { color: var(--blue-300); }
.hover\:blue-400:hover { color: var(--blue-400); }
.hover\:blue-500:hover { color: var(--blue-500); }
.hover\:blue-600:hover { color: var(--blue-600); }
.hover\:blue-700:hover { color: var(--blue-700); }
.hover\:blue-800:hover { color: var(--blue-800); }
.hover\:blue-900:hover { color: var(--blue-900); }

.hover\:yellow-100:hover { color: var(--yellow-100); }
.hover\:yellow-200:hover { color: var(--yellow-200); }
.hover\:yellow-300:hover { color: var(--yellow-300); }
.hover\:yellow-400:hover { color: var(--yellow-400); }
.hover\:yellow-500:hover { color: var(--yellow-500); }
.hover\:yellow-600:hover { color: var(--yellow-600); }
.hover\:yellow-700:hover { color: var(--yellow-700); }
.hover\:yellow-800:hover { color: var(--yellow-800); }
.hover\:yellow-900:hover { color: var(--yellow-900); }

.hover\:purple-100:hover { color: var(--purple-100); }
.hover\:purple-200:hover { color: var(--purple-200); }
.hover\:purple-300:hover { color: var(--purple-300); }
.hover\:purple-400:hover { color: var(--purple-400); }
.hover\:purple-500:hover { color: var(--purple-500); }
.hover\:purple-600:hover { color: var(--purple-600); }
.hover\:purple-700:hover { color: var(--purple-700); }
.hover\:purple-800:hover { color: var(--purple-800); }
.hover\:purple-900:hover { color: var(--purple-900); }

.hover\:pink-100:hover { color: var(--pink-100); }
.hover\:pink-200:hover { color: var(--pink-200); }
.hover\:pink-300:hover { color: var(--pink-300); }
.hover\:pink-400:hover { color: var(--pink-400); }
.hover\:pink-500:hover { color: var(--pink-500); }
.hover\:pink-600:hover { color: var(--pink-600); }
.hover\:pink-700:hover { color: var(--pink-700); }
.hover\:pink-800:hover { color: var(--pink-800); }
.hover\:pink-900:hover { color: var(--pink-900); }
