.no-events { pointer-events: none; }

.cursor-alias {cursor: alias;}
.cursor-all-scroll {cursor: all-scroll;}
.cursor-auto {cursor: auto;}
.cursor-cell {cursor: cell;}
.cursor-context-menu {cursor: context-menu;}
.cursor-col-resize {cursor: col-resize;}
.cursor-copy {cursor: copy;}
.cursor-crosshair {cursor: crosshair;}
.cursor-default {cursor: default;}
.cursor-e-resize {cursor: e-resize;}
.cursor-ew-resize {cursor: ew-resize;}
.cursor-grab {cursor: grab;}
.cursor-grabbing {cursor: grabbing;}
.cursor-help {cursor: help;}
.cursor-move {cursor: move;}
.cursor-n-resize {cursor: n-resize;}
.cursor-ne-resize {cursor: ne-resize;}
.cursor-nesw-resize {cursor: nesw-resize;}
.cursor-ns-resize {cursor: ns-resize;}
.cursor-nw-resize {cursor: nw-resize;}
.cursor-nwse-resize {cursor: nwse-resize;}
.cursor-no-drop {cursor: no-drop;}
.cursor-none {cursor: none;}
.cursor-not-allowed {cursor: not-allowed;}
.cursor-pointer {cursor: pointer;}
.cursor-progress {cursor: progress;}
.cursor-row-resize {cursor: row-resize;}
.cursor-s-resize {cursor: s-resize;}
.cursor-se-resize {cursor: se-resize;}
.cursor-sw-resize {cursor: sw-resize;}
.cursor-text {cursor: text;}
.cursor-w-resize {cursor: w-resize;}
.cursor-wait {cursor: wait;}
.cursor-zoom-in {cursor: zoom-in;}
.cursor-zoom-out {cursor: zoom-out;}

.hover\:cursor-alias:hover {cursor: alias;}
.hover\:cursor-all-scroll:hover {cursor: all-scroll;}
.hover\:cursor-auto:hover {cursor: auto;}
.hover\:cursor-cell:hover {cursor: cell;}
.hover\:cursor-context-menu:hover {cursor: context-menu;}
.hover\:cursor-col-resize:hover {cursor: col-resize;}
.hover\:cursor-copy:hover {cursor: copy;}
.hover\:cursor-crosshair:hover {cursor: crosshair;}
.hover\:cursor-default:hover {cursor: default;}
.hover\:cursor-e-resize:hover {cursor: e-resize;}
.hover\:cursor-ew-resize:hover {cursor: ew-resize;}
.hover\:cursor-grab:hover {cursor: grab;}
.hover\:cursor-grabbing:hover {cursor: grabbing;}
.hover\:cursor-help:hover {cursor: help;}
.hover\:cursor-move:hover {cursor: move;}
.hover\:cursor-n-resize:hover {cursor: n-resize;}
.hover\:cursor-ne-resize:hover {cursor: ne-resize;}
.hover\:cursor-nesw-resize:hover {cursor: nesw-resize;}
.hover\:cursor-ns-resize:hover {cursor: ns-resize;}
.hover\:cursor-nw-resize:hover {cursor: nw-resize;}
.hover\:cursor-nwse-resize:hover {cursor: nwse-resize;}
.hover\:cursor-no-drop:hover {cursor: no-drop;}
.hover\:cursor-none:hover {cursor: none;}
.hover\:cursor-not-allowed:hover {cursor: not-allowed;}
.hover\:cursor-pointer:hover {cursor: pointer;}
.hover\:cursor-progress:hover {cursor: progress;}
.hover\:cursor-row-resize:hover {cursor: row-resize;}
.hover\:cursor-s-resize:hover {cursor: s-resize;}
.hover\:cursor-se-resize:hover {cursor: se-resize;}
.hover\:cursor-sw-resize:hover {cursor: sw-resize;}
.hover\:cursor-text:hover {cursor: text;}
.hover\:cursor-w-resize:hover {cursor: w-resize;}
.hover\:cursor-wait:hover {cursor: wait;}
.hover\:cursor-zoom-in:hover {cursor: zoom-in;}
.hover\:cursor-zoom-out:hover {cursor: zoom-out;}