.block { display: block; }
.contents { display: contents; }
.flex { display: flex; }
.flow-root { display: flow-root; }
.grid { display: grid; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.inline-flex { display: inline-flex; }
.inline-grid { display: inline-grid; }
.inline-table { display: inline-table; }
.list-item { display: list-item; }
.none { display: none; }
.run-in { display: run-in; }
.table { display: table; }
.table-caption { display: table-caption; }
.table-cell { display: table-cell; }
.table-column { display: table-column; }
.table-column-group { display: table-column-group; }
.table-footer-group { display: table-footer-group; }
.table-header-group { display: table-header-group; }
.table-row { display: table-row; }
.table-row-group { display: table-row-group; }

.tabel-layout-fixed { table-layout: fixed; }

.float-left { float: left; }
.float-right { float: right; }

@media (max-width: 1360px) {
    .xxl\:inline { display: inline; }
    .xxl\:inline-block { display: inline-block; }
    .xxl\:inline-grid { display: inline-grid; }
    .xxl\:inline-flex { display: inline-flex; }
    .xxl\:flex { display: flex; }
    .xxl\:grid { display: grid; }
    .xxl\:none { display: none; }
}

@media (max-width: 1032px) {
    .xl\:inline { display: inline; }
    .xl\:inline-block { display: inline-block; }
    .xl\:inline-grid { display: inline-grid; }
    .xl\:inline-flex { display: inline-flex; }
    .xl\:flex { display: flex; }
    .xl\:grid { display: grid; }
    .xl\:none { display: none; }
}

@media (max-width: 864px) {
    .lg\:inline { display: inline; }
    .lg\:inline-block { display: inline-block; }
    .lg\:inline-grid { display: inline-grid; }
    .lg\:inline-flex { display: inline-flex; }
    .lg\:flex { display: flex; }
    .lg\:grid { display: grid; }
    .lg\:none { display: none; }
}

@media (max-width: 696px) {
    .md\:inline { display: inline; }
    .md\:inline-block { display: inline-block; }
    .md\:inline-grid { display: inline-grid; }
    .md\:inline-flex { display: inline-flex; }
    .md\:flex { display: flex; }
    .md\:grid { display: grid; }
    .md\:none { display: none; }
}

@media (max-width: 444px) {
    .sm\:inline { display: inline; }
    .sm\:inline-block { display: inline-block; }
    .sm\:inline-grid { display: inline-grid; }
    .sm\:inline-flex { display: inline-flex; }
    .sm\:flex { display: flex; }
    .sm\:grid { display: grid; }
    .sm\:none { display: none; }
}
