.flex-wrap { flex-wrap: wrap; }
.flex-column { flex-direction: column; }

.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.space-evenly { justify-content: space-evenly; }

.flex-center { align-items: center; justify-content: center; }
.flex-y-center { align-items: center; }
.flex-x-center { justify-content: center; }

.flex-left { justify-content: flex-start; }
.flex-right { justify-content: flex-end; }
.flex-baseline { align-items: baseline; }
.flex-top { align-items: flex-start; }
.flex-bottom { align-items: flex-end; }

.self-center { align-self: center; justify-self: center; }
.self-x-center { justify-self: center; }
.self-y-center { align-self: center; }

.self-left { justify-self: flex-start; }
.self-right { justify-self: flex-end; }
.self-baseline { justify-self: baseline; }
.self-top { align-self: flex-start; }
.self-bottom { align-self: flex-end; }

.flex-gap-px:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-px); }
.flex-gap-1:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-1); }
.flex-gap-2:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-2); }
.flex-gap-3:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-3); }
.flex-gap-4:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-4); }
.flex-gap-5:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-5); }
.flex-gap-6:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-6); }
.flex-gap-7:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-7); }
.flex-gap-8:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-8); }
.flex-gap-9:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-9); }
.flex-gap-10:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-10); }
.flex-gap-11:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-11); }
.flex-gap-12:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-12); }
.flex-gap-13:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-13); }
.flex-gap-14:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-14); }
.flex-gap-15:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-15); }
.flex-gap-16:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-16); }
.flex-gap-24:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-24); }
.flex-gap-32:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-32); }
.flex-gap-40:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-40); }
.flex-gap-48:not(.flex-column) > *:not(:last-child) { margin-right: var(--box-48); }

.flex-column.flex-gap-px > *:not(:last-child) { margin-bottom: var(--box-px); }
.flex-column.flex-gap-1 > *:not(:last-child) { margin-bottom: var(--box-1); }
.flex-column.flex-gap-2 > *:not(:last-child) { margin-bottom: var(--box-2); }
.flex-column.flex-gap-3 > *:not(:last-child) { margin-bottom: var(--box-3); }
.flex-column.flex-gap-4 > *:not(:last-child) { margin-bottom: var(--box-4); }
.flex-column.flex-gap-5 > *:not(:last-child) { margin-bottom: var(--box-5); }
.flex-column.flex-gap-6 > *:not(:last-child) { margin-bottom: var(--box-6); }
.flex-column.flex-gap-7 > *:not(:last-child) { margin-bottom: var(--box-7); }
.flex-column.flex-gap-8 > *:not(:last-child) { margin-bottom: var(--box-8); }
.flex-column.flex-gap-9 > *:not(:last-child) { margin-bottom: var(--box-9); }
.flex-column.flex-gap-10 > *:not(:last-child) { margin-bottom: var(--box-10); }
.flex-column.flex-gap-11 > *:not(:last-child) { margin-bottom: var(--box-11); }
.flex-column.flex-gap-12 > *:not(:last-child) { margin-bottom: var(--box-12); }
.flex-column.flex-gap-13 > *:not(:last-child) { margin-bottom: var(--box-13); }
.flex-column.flex-gap-14 > *:not(:last-child) { margin-bottom: var(--box-14); }
.flex-column.flex-gap-15 > *:not(:last-child) { margin-bottom: var(--box-15); }
.flex-column.flex-gap-16 > *:not(:last-child) { margin-bottom: var(--box-16); }
.flex-column.flex-gap-24 > *:not(:last-child) { margin-bottom: var(--box-24); }
.flex-column.flex-gap-32 > *:not(:last-child) { margin-bottom: var(--box-32); }
.flex-column.flex-gap-40 > *:not(:last-child) { margin-bottom: var(--box-40); }
.flex-column.flex-gap-48 > *:not(:last-child) { margin-bottom: var(--box-48); }

.grow-1,
.grow-2,
.grow-3,
.grow-4,
.grow-5,
.grow-6,
.grow-7,
.grow-8,
.grow-9,
.grow-10,
.grow-11,
.grow-12 { flex-basis: 0; }

.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }
.grow-7 { flex-grow: 7; }
.grow-8 { flex-grow: 8; }
.grow-9 { flex-grow: 9; }
.grow-10 { flex-grow: 10; }
.grow-11 { flex-grow: 11; }
.grow-12 { flex-grow: 12; }

@media (max-width: 1360px) {
    .xxl\:flex-gap-px:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-px); }
    .xxl\:flex-gap-1:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-1); }
    .xxl\:flex-gap-2:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-2); }
    .xxl\:flex-gap-3:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-3); }
    .xxl\:flex-gap-4:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-4); }
    .xxl\:flex-gap-5:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-5); }
    .xxl\:flex-gap-6:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-6); }
    .xxl\:flex-gap-7:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-7); }
    .xxl\:flex-gap-8:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-8); }
    .xxl\:flex-gap-9:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-9); }
    .xxl\:flex-gap-10:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-10); }
    .xxl\:flex-gap-11:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-11); }
    .xxl\:flex-gap-12:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-12); }
    .xxl\:flex-gap-13:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-13); }
    .xxl\:flex-gap-14:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-14); }
    .xxl\:flex-gap-15:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-15); }
    .xxl\:flex-gap-16:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-16); }
    .xxl\:flex-gap-24:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-24); }
    .xxl\:flex-gap-32:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-32); }
    .xxl\:flex-gap-40:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-40); }
    .xxl\:flex-gap-48:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-48); }

    .xxl\:flex-gap-px[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-px); }
    .xxl\:flex-gap-1[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-1); }
    .xxl\:flex-gap-2[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-2); }
    .xxl\:flex-gap-3[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-3); }
    .xxl\:flex-gap-4[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-4); }
    .xxl\:flex-gap-5[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-5); }
    .xxl\:flex-gap-6[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-6); }
    .xxl\:flex-gap-7[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-7); }
    .xxl\:flex-gap-8[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-8); }
    .xxl\:flex-gap-9[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-9); }
    .xxl\:flex-gap-10[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-10); }
    .xxl\:flex-gap-11[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-11); }
    .xxl\:flex-gap-12[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-12); }
    .xxl\:flex-gap-13[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-13); }
    .xxl\:flex-gap-14[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-14); }
    .xxl\:flex-gap-15[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-15); }
    .xxl\:flex-gap-16[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-16); }
    .xxl\:flex-gap-24[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-24); }
    .xxl\:flex-gap-32[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-32); }
    .xxl\:flex-gap-40[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-40); }
    .xxl\:flex-gap-48[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-48); }

    .xxl\:flex-column { flex-direction: column; }
}

@media (max-width: 1032px) {
    .xl\:flex-gap-px:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-px); }
    .xl\:flex-gap-1:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-1); }
    .xl\:flex-gap-2:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-2); }
    .xl\:flex-gap-3:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-3); }
    .xl\:flex-gap-4:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-4); }
    .xl\:flex-gap-5:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-5); }
    .xl\:flex-gap-6:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-6); }
    .xl\:flex-gap-7:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-7); }
    .xl\:flex-gap-8:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-8); }
    .xl\:flex-gap-9:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-9); }
    .xl\:flex-gap-10:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-10); }
    .xl\:flex-gap-11:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-11); }
    .xl\:flex-gap-12:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-12); }
    .xl\:flex-gap-13:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-13); }
    .xl\:flex-gap-14:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-14); }
    .xl\:flex-gap-15:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-15); }
    .xl\:flex-gap-16:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-16); }
    .xl\:flex-gap-24:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-24); }
    .xl\:flex-gap-32:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-32); }
    .xl\:flex-gap-40:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-40); }
    .xl\:flex-gap-48:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-48); }

    .xl\:flex-gap-px[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-px); }
    .xl\:flex-gap-1[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-1); }
    .xl\:flex-gap-2[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-2); }
    .xl\:flex-gap-3[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-3); }
    .xl\:flex-gap-4[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-4); }
    .xl\:flex-gap-5[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-5); }
    .xl\:flex-gap-6[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-6); }
    .xl\:flex-gap-7[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-7); }
    .xl\:flex-gap-8[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-8); }
    .xl\:flex-gap-9[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-9); }
    .xl\:flex-gap-10[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-10); }
    .xl\:flex-gap-11[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-11); }
    .xl\:flex-gap-12[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-12); }
    .xl\:flex-gap-13[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-13); }
    .xl\:flex-gap-14[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-14); }
    .xl\:flex-gap-15[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-15); }
    .xl\:flex-gap-16[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-16); }
    .xl\:flex-gap-24[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-24); }
    .xl\:flex-gap-32[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-32); }
    .xl\:flex-gap-40[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-40); }
    .xl\:flex-gap-48[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-48); }

    .xl\:flex-column { flex-direction: column; }
}

@media (max-width: 864px) {
    .lg\:flex-gap-px:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-px); }
    .lg\:flex-gap-1:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-1); }
    .lg\:flex-gap-2:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-2); }
    .lg\:flex-gap-3:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-3); }
    .lg\:flex-gap-4:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-4); }
    .lg\:flex-gap-5:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-5); }
    .lg\:flex-gap-6:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-6); }
    .lg\:flex-gap-7:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-7); }
    .lg\:flex-gap-8:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-8); }
    .lg\:flex-gap-9:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-9); }
    .lg\:flex-gap-10:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-10); }
    .lg\:flex-gap-11:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-11); }
    .lg\:flex-gap-12:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-12); }
    .lg\:flex-gap-13:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-13); }
    .lg\:flex-gap-14:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-14); }
    .lg\:flex-gap-15:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-15); }
    .lg\:flex-gap-16:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-16); }
    .lg\:flex-gap-24:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-24); }
    .lg\:flex-gap-32:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-32); }
    .lg\:flex-gap-40:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-40); }
    .lg\:flex-gap-48:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-48); }

    .lg\:flex-gap-px[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-px); margin-right: 0; }
    .lg\:flex-gap-1[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-1); margin-right: 0; }
    .lg\:flex-gap-2[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-2); margin-right: 0; }
    .lg\:flex-gap-3[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-3); margin-right: 0; }
    .lg\:flex-gap-4[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-4); margin-right: 0; }
    .lg\:flex-gap-5[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-5); margin-right: 0; }
    .lg\:flex-gap-6[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-6); margin-right: 0; }
    .lg\:flex-gap-7[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-7); margin-right: 0; }
    .lg\:flex-gap-8[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-8); margin-right: 0; }
    .lg\:flex-gap-9[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-9); margin-right: 0; }
    .lg\:flex-gap-10[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-10); margin-right: 0; }
    .lg\:flex-gap-11[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-11); margin-right: 0; }
    .lg\:flex-gap-12[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-12); margin-right: 0; }
    .lg\:flex-gap-13[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-13); margin-right: 0; }
    .lg\:flex-gap-14[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-14); margin-right: 0; }
    .lg\:flex-gap-15[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-15); margin-right: 0; }
    .lg\:flex-gap-16[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-16); margin-right: 0; }
    .lg\:flex-gap-24[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-24); margin-right: 0; }
    .lg\:flex-gap-32[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-32); margin-right: 0; }
    .lg\:flex-gap-40[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-40); margin-right: 0; }
    .lg\:flex-gap-48[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-48); margin-right: 0; }

    .lg\:flex-column { flex-direction: column; }
}

@media (max-width: 696px) {
    .md\:flex-gap-px:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-px); }
    .md\:flex-gap-1:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-1); }
    .md\:flex-gap-2:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-2); }
    .md\:flex-gap-3:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-3); }
    .md\:flex-gap-4:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-4); }
    .md\:flex-gap-5:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-5); }
    .md\:flex-gap-6:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-6); }
    .md\:flex-gap-7:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-7); }
    .md\:flex-gap-8:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-8); }
    .md\:flex-gap-9:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-9); }
    .md\:flex-gap-10:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-10); }
    .md\:flex-gap-11:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-11); }
    .md\:flex-gap-12:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-12); }
    .md\:flex-gap-13:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-13); }
    .md\:flex-gap-14:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-14); }
    .md\:flex-gap-15:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-15); }
    .md\:flex-gap-16:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-16); }
    .md\:flex-gap-24:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-24); }
    .md\:flex-gap-32:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-32); }
    .md\:flex-gap-40:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-40); }
    .md\:flex-gap-48:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-48); }

    .md\:flex-gap-px[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-px); }
    .md\:flex-gap-1[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-1); }
    .md\:flex-gap-2[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-2); }
    .md\:flex-gap-3[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-3); }
    .md\:flex-gap-4[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-4); }
    .md\:flex-gap-5[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-5); }
    .md\:flex-gap-6[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-6); }
    .md\:flex-gap-7[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-7); }
    .md\:flex-gap-8[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-8); }
    .md\:flex-gap-9[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-9); }
    .md\:flex-gap-10[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-10); }
    .md\:flex-gap-11[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-11); }
    .md\:flex-gap-12[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-12); }
    .md\:flex-gap-13[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-13); }
    .md\:flex-gap-14[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-14); }
    .md\:flex-gap-15[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-15); }
    .md\:flex-gap-16[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-16); }
    .md\:flex-gap-24[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-24); }
    .md\:flex-gap-32[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-32); }
    .md\:flex-gap-40[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-40); }
    .md\:flex-gap-48[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-48); }

    .md\:flex-column { flex-direction: column; }
}

@media (max-width: 444px) {
    .sm\:flex-gap-px:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-px); }
    .sm\:flex-gap-1:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-1); }
    .sm\:flex-gap-2:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-2); }
    .sm\:flex-gap-3:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-3); }
    .sm\:flex-gap-4:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-4); }
    .sm\:flex-gap-5:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-5); }
    .sm\:flex-gap-6:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-6); }
    .sm\:flex-gap-7:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-7); }
    .sm\:flex-gap-8:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-8); }
    .sm\:flex-gap-9:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-9); }
    .sm\:flex-gap-10:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-10); }
    .sm\:flex-gap-11:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-11); }
    .sm\:flex-gap-12:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-12); }
    .sm\:flex-gap-13:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-13); }
    .sm\:flex-gap-14:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-14); }
    .sm\:flex-gap-15:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-15); }
    .sm\:flex-gap-16:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-16); }
    .sm\:flex-gap-24:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-24); }
    .sm\:flex-gap-32:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-32); }
    .sm\:flex-gap-40:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-40); }
    .sm\:flex-gap-48:not([class*="flex-column"]) > *:not(:last-child) { margin-right: var(--box-48); }

    .sm\:flex-gap-px[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-px); }
    .sm\:flex-gap-1[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-1); }
    .sm\:flex-gap-2[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-2); }
    .sm\:flex-gap-3[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-3); }
    .sm\:flex-gap-4[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-4); }
    .sm\:flex-gap-5[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-5); }
    .sm\:flex-gap-6[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-6); }
    .sm\:flex-gap-7[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-7); }
    .sm\:flex-gap-8[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-8); }
    .sm\:flex-gap-9[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-9); }
    .sm\:flex-gap-10[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-10); }
    .sm\:flex-gap-11[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-11); }
    .sm\:flex-gap-12[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-12); }
    .sm\:flex-gap-13[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-13); }
    .sm\:flex-gap-14[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-14); }
    .sm\:flex-gap-15[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-15); }
    .sm\:flex-gap-16[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-16); }
    .sm\:flex-gap-24[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-24); }
    .sm\:flex-gap-32[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-32); }
    .sm\:flex-gap-40[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-40); }
    .sm\:flex-gap-48[class*="flex-column"] > *:not(:last-child) { margin-bottom: var(--box-48); }

    .sm\:flex-column { flex-direction: column; }
}
