.h-0 { height: 0; }
.h-vh, .h-viewport { height: 100vh; }
.h-px { height: var(--box-px); }
.h-1 { height: var(--box-1); }
.h-2 { height: var(--box-2); }
.h-3 { height: var(--box-3); }
.h-4 { height: var(--box-4); }
.h-5 { height: var(--box-5); }
.h-6 { height: var(--box-6); }
.h-7 { height: var(--box-7); }
.h-8 { height: var(--box-8); }
.h-9 { height: var(--box-9); }
.h-10 { height: var(--box-10); }
.h-11 { height: var(--box-11); }
.h-11 { height: var(--box-11); }
.h-12 { height: var(--box-12); }
.h-12 { height: var(--box-12); }
.h-13 { height: var(--box-13); }
.h-13 { height: var(--box-13); }
.h-14 { height: var(--box-14); }
.h-14 { height: var(--box-14); }
.h-15 { height: var(--box-15); }
.h-15 { height: var(--box-15); }
.h-16 { height: var(--box-16); }
.h-24 { height: var(--box-24); }
.h-32 { height: var(--box-32); }
.h-40 { height: var(--box-40); }
.h-48 { height: var(--box-48); }

.hp-10 { height: 10%; }
.hp-15 { height: 15%; }
.hp-20 { height: 20%; }
.hp-25 { height: 25%; }
.hp-30 { height: 30%; }
.hp-33 { height: calc(100%/3); }
.hp-35 { height: 35%; }
.hp-40 { height: 40%; }
.hp-45 { height: 45%; }
.hp-50 { height: 50%; }
.hp-55 { height: 55%; }
.hp-60 { height: 60%; }
.hp-66 { height: calc((100%/3)*2); }
.hp-65 { height: 65%; }
.hp-70 { height: 70%; }
.hp-75 { height: 75%; }
.hp-80 { height: 80%; }
.hp-85 { height: 85%; }
.hp-90 { height: 90%; }
.hp-95 { height: 95%; }
.hp-100 { height: 100%; }

.hmax-0 { max-height: 0; }
.h-vh, .h-viewport { max-height: 100vh; }
.hmax-px { max-height: var(--box-px); }
.hmax-1 { max-height: var(--box-1); }
.hmax-2 { max-height: var(--box-2); }
.hmax-3 { max-height: var(--box-3); }
.hmax-4 { max-height: var(--box-4); }
.hmax-5 { max-height: var(--box-5); }
.hmax-6 { max-height: var(--box-6); }
.hmax-7 { max-height: var(--box-7); }
.hmax-8 { max-height: var(--box-8); }
.hmax-9 { max-height: var(--box-9); }
.hmax-10 { max-height: var(--box-10); }
.hmax-11 { max-height: var(--box-11); }
.hmax-11 { max-height: var(--box-11); }
.hmax-12 { max-height: var(--box-12); }
.hmax-12 { max-height: var(--box-12); }
.hmax-13 { max-height: var(--box-13); }
.hmax-13 { max-height: var(--box-13); }
.hmax-14 { max-height: var(--box-14); }
.hmax-14 { max-height: var(--box-14); }
.hmax-15 { max-height: var(--box-15); }
.hmax-15 { max-height: var(--box-15); }
.hmax-16 { max-height: var(--box-16); }
.hmax-24 { max-height: var(--box-24); }
.hmax-32 { max-height: var(--box-32); }
.hmax-40 { max-height: var(--box-40); }
.hmax-48 { max-height: var(--box-48); }
.hpmax-15 { max-height: 15%; }
.hpmax-10 { max-height: 10%; }
.hpmax-20 { max-height: 20%; }
.hpmax-25 { max-height: 25%; }
.hpmax-30 { max-height: 30%; }
.hpmax-33 { max-height: calc(100%/3); }
.hpmax-35 { max-height: 35%; }
.hpmax-40 { max-height: 40%; }
.hpmax-45 { max-height: 45%; }
.hpmax-50 { max-height: 50%; }
.hpmax-55 { max-height: 55%; }
.hpmax-60 { max-height: 60%; }
.hpmax-66 { max-height: calc((100%/3)*2); }
.hpmax-65 { max-height: 65%; }
.hpmax-70 { max-height: 70%; }
.hpmax-75 { max-height: 75%; }
.hpmax-80 { max-height: 80%; }
.hpmax-85 { max-height: 85%; }
.hpmax-90 { max-height: 90%; }
.hpmax-95 { max-height: 95%; }
.hpmax-100 { max-height: 100%; }

.hmin-0 { max-width: 0; }
.hmin-vh, .hmin-viewport { max-width: 100vh; }
.hmin-px { max-width: var(--box-px); }
.hmin-1 { max-width: var(--box-1); }
.hmin-2 { max-width: var(--box-2); }
.hmin-3 { max-width: var(--box-3); }
.hmin-4 { max-width: var(--box-4); }
.hmin-5 { max-width: var(--box-5); }
.hmin-6 { max-width: var(--box-6); }
.hmin-7 { max-width: var(--box-7); }
.hmin-8 { max-width: var(--box-8); }
.hmin-9 { max-width: var(--box-9); }
.hmin-10 { max-width: var(--box-10); }
.hmin-11 { max-width: var(--box-11); }
.hmin-11 { max-width: var(--box-11); }
.hmin-12 { max-width: var(--box-12); }
.hmin-12 { max-width: var(--box-12); }
.hmin-13 { max-width: var(--box-13); }
.hmin-13 { max-width: var(--box-13); }
.hmin-14 { max-width: var(--box-14); }
.hmin-14 { max-width: var(--box-14); }
.hmin-15 { max-width: var(--box-15); }
.hmin-15 { max-width: var(--box-15); }
.hmin-16 { max-width: var(--box-16); }
.hmin-24 { max-width: var(--box-24); }
.hmin-32 { max-width: var(--box-32); }
.hmin-40 { max-width: var(--box-40); }
.hmin-48 { max-width: var(--box-48); }
.hpmin-15 { max-width: 15%; }
.hpmin-10 { max-width: 10%; }
.hpmin-20 { max-width: 20%; }
.hpmin-25 { max-width: 25%; }
.hpmin-30 { max-width: 30%; }
.hpmin-33 { max-width: calc(100%/3); }
.hpmin-35 { max-width: 35%; }
.hpmin-40 { max-width: 40%; }
.hpmin-45 { max-width: 45%; }
.hpmin-50 { max-width: 50%; }
.hpmin-55 { max-width: 55%; }
.hpmin-60 { max-width: 60%; }
.hpmin-66 { max-width: calc((100%/3)*2); }
.hpmin-65 { max-width: 65%; }
.hpmin-70 { max-width: 70%; }
.hpmin-75 { max-width: 75%; }
.hpmin-80 { max-width: 80%; }
.hpmin-85 { max-width: 85%; }
.hpmin-90 { max-width: 90%; }
.hpmin-95 { max-width: 95%; }
.hpmin-100 { max-width: 100%; }


@media (max-width: 1360px) {
    .xxl\:h-0 { height: 0; }
    .xxl\:h-vh, .xxl\:h-viewport { height: 100vh; }
    .xxl\:h-px { height: var(--box-px); }
    .xxl\:h-1 { height: var(--box-1); }
    .xxl\:h-2 { height: var(--box-2); }
    .xxl\:h-3 { height: var(--box-3); }
    .xxl\:h-4 { height: var(--box-4); }
    .xxl\:h-5 { height: var(--box-5); }
    .xxl\:h-6 { height: var(--box-6); }
    .xxl\:h-7 { height: var(--box-7); }
    .xxl\:h-8 { height: var(--box-8); }
    .xxl\:h-9 { height: var(--box-9); }
    .xxl\:h-10 { height: var(--box-10); }
    .xxl\:h-11 { height: var(--box-11); }
    .xxl\:h-11 { height: var(--box-11); }
    .xxl\:h-12 { height: var(--box-12); }
    .xxl\:h-12 { height: var(--box-12); }
    .xxl\:h-13 { height: var(--box-13); }
    .xxl\:h-13 { height: var(--box-13); }
    .xxl\:h-14 { height: var(--box-14); }
    .xxl\:h-14 { height: var(--box-14); }
    .xxl\:h-15 { height: var(--box-15); }
    .xxl\:h-15 { height: var(--box-15); }
    .xxl\:h-16 { height: var(--box-16); }
    .xxl\:h-24 { height: var(--box-24); }
    .xxl\:h-32 { height: var(--box-32); }
    .xxl\:h-40 { height: var(--box-40); }
    .xxl\:h-48 { height: var(--box-48); }
    .xxl\:hp-15 { height: 15%; }
    .xxl\:hp-10 { height: 10%; }
    .xxl\:hp-20 { height: 20%; }
    .xxl\:hp-25 { height: 25%; }
    .xxl\:hp-30 { height: 30%; }
    .xxl\:hp-33 { height: calc(100%/3); }
    .xxl\:hp-35 { height: 35%; }
    .xxl\:hp-40 { height: 40%; }
    .xxl\:hp-45 { height: 45%; }
    .xxl\:hp-50 { height: 50%; }
    .xxl\:hp-55 { height: 55%; }
    .xxl\:hp-60 { height: 60%; }
    .xxl\:hp-66 { height: calc((100%/3)*2); }
    .xxl\:hp-65 { height: 65%; }
    .xxl\:hp-70 { height: 70%; }
    .xxl\:hp-75 { height: 75%; }
    .xxl\:hp-80 { height: 80%; }
    .xxl\:hp-85 { height: 85%; }
    .xxl\:hp-90 { height: 90%; }
    .xxl\:hp-95 { height: 95%; }
    .xxl\:hp-100 { height: 100%; }
}

@media (max-width: 1032px) {
    .xl\:h-0 { height: 0; }
    .xl\:h-vh, .xl\:h-viewport { height: 100vh; }
    .xl\:h-px { height: var(--box-px); }
    .xl\:h-1 { height: var(--box-1); }
    .xl\:h-2 { height: var(--box-2); }
    .xl\:h-3 { height: var(--box-3); }
    .xl\:h-4 { height: var(--box-4); }
    .xl\:h-5 { height: var(--box-5); }
    .xl\:h-6 { height: var(--box-6); }
    .xl\:h-7 { height: var(--box-7); }
    .xl\:h-8 { height: var(--box-8); }
    .xl\:h-9 { height: var(--box-9); }
    .xl\:h-10 { height: var(--box-10); }
    .xl\:h-11 { height: var(--box-11); }
    .xl\:h-11 { height: var(--box-11); }
    .xl\:h-12 { height: var(--box-12); }
    .xl\:h-12 { height: var(--box-12); }
    .xl\:h-13 { height: var(--box-13); }
    .xl\:h-13 { height: var(--box-13); }
    .xl\:h-14 { height: var(--box-14); }
    .xl\:h-14 { height: var(--box-14); }
    .xl\:h-15 { height: var(--box-15); }
    .xl\:h-15 { height: var(--box-15); }
    .xl\:h-16 { height: var(--box-16); }
    .xl\:h-24 { height: var(--box-24); }
    .xl\:h-32 { height: var(--box-32); }
    .xl\:h-40 { height: var(--box-40); }
    .xl\:h-48 { height: var(--box-48); }
    .xl\:hp-15 { height: 15%; }
    .xl\:hp-10 { height: 10%; }
    .xl\:hp-20 { height: 20%; }
    .xl\:hp-25 { height: 25%; }
    .xl\:hp-30 { height: 30%; }
    .xl\:hp-33 { height: calc(100%/3); }
    .xl\:hp-35 { height: 35%; }
    .xl\:hp-40 { height: 40%; }
    .xl\:hp-45 { height: 45%; }
    .xl\:hp-50 { height: 50%; }
    .xl\:hp-55 { height: 55%; }
    .xl\:hp-60 { height: 60%; }
    .xl\:hp-66 { height: calc((100%/3)*2); }
    .xl\:hp-65 { height: 65%; }
    .xl\:hp-70 { height: 70%; }
    .xl\:hp-75 { height: 75%; }
    .xl\:hp-80 { height: 80%; }
    .xl\:hp-85 { height: 85%; }
    .xl\:hp-90 { height: 90%; }
    .xl\:hp-95 { height: 95%; }
    .xl\:hp-100 { height: 100%; }
}

@media (max-width: 864px) {
    .lg\:h-0 { height: 0; }
    .lg\:h-vh, .lg\:h-viewport { height: 100vh; }
    .lg\:h-px { height: var(--box-px); }
    .lg\:h-1 { height: var(--box-1); }
    .lg\:h-2 { height: var(--box-2); }
    .lg\:h-3 { height: var(--box-3); }
    .lg\:h-4 { height: var(--box-4); }
    .lg\:h-5 { height: var(--box-5); }
    .lg\:h-6 { height: var(--box-6); }
    .lg\:h-7 { height: var(--box-7); }
    .lg\:h-8 { height: var(--box-8); }
    .lg\:h-9 { height: var(--box-9); }
    .lg\:h-10 { height: var(--box-10); }
    .lg\:h-11 { height: var(--box-11); }
    .lg\:h-11 { height: var(--box-11); }
    .lg\:h-12 { height: var(--box-12); }
    .lg\:h-12 { height: var(--box-12); }
    .lg\:h-13 { height: var(--box-13); }
    .lg\:h-13 { height: var(--box-13); }
    .lg\:h-14 { height: var(--box-14); }
    .lg\:h-14 { height: var(--box-14); }
    .lg\:h-15 { height: var(--box-15); }
    .lg\:h-15 { height: var(--box-15); }
    .lg\:h-16 { height: var(--box-16); }
    .lg\:h-24 { height: var(--box-24); }
    .lg\:h-32 { height: var(--box-32); }
    .lg\:h-40 { height: var(--box-40); }
    .lg\:h-48 { height: var(--box-48); }
    .lg\:hp-15 { height: 15%; }
    .lg\:hp-10 { height: 10%; }
    .lg\:hp-20 { height: 20%; }
    .lg\:hp-25 { height: 25%; }
    .lg\:hp-30 { height: 30%; }
    .lg\:hp-33 { height: calc(100%/3); }
    .lg\:hp-35 { height: 35%; }
    .lg\:hp-40 { height: 40%; }
    .lg\:hp-45 { height: 45%; }
    .lg\:hp-50 { height: 50%; }
    .lg\:hp-55 { height: 55%; }
    .lg\:hp-60 { height: 60%; }
    .lg\:hp-66 { height: calc((100%/3)*2); }
    .lg\:hp-65 { height: 65%; }
    .lg\:hp-70 { height: 70%; }
    .lg\:hp-75 { height: 75%; }
    .lg\:hp-80 { height: 80%; }
    .lg\:hp-85 { height: 85%; }
    .lg\:hp-90 { height: 90%; }
    .lg\:hp-95 { height: 95%; }
    .lg\:hp-100 { height: 100%; }
}

@media (max-width: 696px) {
    .md\:h-0 { height: 0; }
    .md\:h-vh, .md\:h-viewport { height: 100vh; }
    .md\:h-px { height: var(--box-px); }
    .md\:h-1 { height: var(--box-1); }
    .md\:h-2 { height: var(--box-2); }
    .md\:h-3 { height: var(--box-3); }
    .md\:h-4 { height: var(--box-4); }
    .md\:h-5 { height: var(--box-5); }
    .md\:h-6 { height: var(--box-6); }
    .md\:h-7 { height: var(--box-7); }
    .md\:h-8 { height: var(--box-8); }
    .md\:h-9 { height: var(--box-9); }
    .md\:h-10 { height: var(--box-10); }
    .md\:h-11 { height: var(--box-11); }
    .md\:h-11 { height: var(--box-11); }
    .md\:h-12 { height: var(--box-12); }
    .md\:h-12 { height: var(--box-12); }
    .md\:h-13 { height: var(--box-13); }
    .md\:h-13 { height: var(--box-13); }
    .md\:h-14 { height: var(--box-14); }
    .md\:h-14 { height: var(--box-14); }
    .md\:h-15 { height: var(--box-15); }
    .md\:h-15 { height: var(--box-15); }
    .md\:h-16 { height: var(--box-16); }
    .md\:h-24 { height: var(--box-24); }
    .md\:h-32 { height: var(--box-32); }
    .md\:h-40 { height: var(--box-40); }
    .md\:h-48 { height: var(--box-48); }
    .md\:hp-15 { height: 15%; }
    .md\:hp-10 { height: 10%; }
    .md\:hp-20 { height: 20%; }
    .md\:hp-25 { height: 25%; }
    .md\:hp-30 { height: 30%; }
    .md\:hp-33 { height: calc(100%/3); }
    .md\:hp-35 { height: 35%; }
    .md\:hp-40 { height: 40%; }
    .md\:hp-45 { height: 45%; }
    .md\:hp-50 { height: 50%; }
    .md\:hp-55 { height: 55%; }
    .md\:hp-60 { height: 60%; }
    .md\:hp-66 { height: calc((100%/3)*2); }
    .md\:hp-65 { height: 65%; }
    .md\:hp-70 { height: 70%; }
    .md\:hp-75 { height: 75%; }
    .md\:hp-80 { height: 80%; }
    .md\:hp-85 { height: 85%; }
    .md\:hp-90 { height: 90%; }
    .md\:hp-95 { height: 95%; }
    .md\:hp-100 { height: 100%; }
}

@media (max-width: 444px) {
    .sm\:h-0 { height: 0; }
    .sm\:h-vh, .sm\:h-viewport { height: 100vh; }
    .sm\:h-px { height: var(--box-px); }
    .sm\:h-1 { height: var(--box-1); }
    .sm\:h-2 { height: var(--box-2); }
    .sm\:h-3 { height: var(--box-3); }
    .sm\:h-4 { height: var(--box-4); }
    .sm\:h-5 { height: var(--box-5); }
    .sm\:h-6 { height: var(--box-6); }
    .sm\:h-7 { height: var(--box-7); }
    .sm\:h-8 { height: var(--box-8); }
    .sm\:h-9 { height: var(--box-9); }
    .sm\:h-10 { height: var(--box-10); }
    .sm\:h-11 { height: var(--box-11); }
    .sm\:h-11 { height: var(--box-11); }
    .sm\:h-12 { height: var(--box-12); }
    .sm\:h-12 { height: var(--box-12); }
    .sm\:h-13 { height: var(--box-13); }
    .sm\:h-13 { height: var(--box-13); }
    .sm\:h-14 { height: var(--box-14); }
    .sm\:h-14 { height: var(--box-14); }
    .sm\:h-15 { height: var(--box-15); }
    .sm\:h-15 { height: var(--box-15); }
    .sm\:h-16 { height: var(--box-16); }
    .sm\:h-24 { height: var(--box-24); }
    .sm\:h-32 { height: var(--box-32); }
    .sm\:h-40 { height: var(--box-40); }
    .sm\:h-48 { height: var(--box-48); }
    .sm\:hp-15 { height: 15%; }
    .sm\:hp-10 { height: 10%; }
    .sm\:hp-20 { height: 20%; }
    .sm\:hp-25 { height: 25%; }
    .sm\:hp-30 { height: 30%; }
    .sm\:hp-33 { height: calc(100%/3); }
    .sm\:hp-35 { height: 35%; }
    .sm\:hp-40 { height: 40%; }
    .sm\:hp-45 { height: 45%; }
    .sm\:hp-50 { height: 50%; }
    .sm\:hp-55 { height: 55%; }
    .sm\:hp-60 { height: 60%; }
    .sm\:hp-66 { height: calc((100%/3)*2); }
    .sm\:hp-65 { height: 65%; }
    .sm\:hp-70 { height: 70%; }
    .sm\:hp-75 { height: 75%; }
    .sm\:hp-80 { height: 80%; }
    .sm\:hp-85 { height: 85%; }
    .sm\:hp-90 { height: 90%; }
    .sm\:hp-95 { height: 95%; }
    .sm\:hp-100 { height: 100%; }
}
