.h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
.h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
.h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
.h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
.h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
.h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
.p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
.small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
.tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }

.sans { font-family: var(--font-family-sans); }
.serif { font-family: var(--font-family-serif); }
.mono { font-family: var(--font-family-mono); }

.lighter { font-weight: var(--font-weight-lighter); }
.light { font-weight: var(--font-weight-light); }
.normal { font-weight: var(--font-weight-normal); }
.bold { font-weight: var(--font-weight-bold); }
.bolder { font-weight: var(--font-weight-bolder); }

.italic { font-style: italic; }
.normal { font-style: normal; }
.oblique { font-style: oblique; }

.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

.line-through, .delete { text-decoration: line-through; }
.overline { text-decoration: overline; }
.underline { text-decoration: underline; }
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.pre { white-space: pre; }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
.nowrap { white-space: nowrap; }

.break-word { word-wrap: break-word; }

.unselectable { user-select: none; }

.ellipsis {
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 1360px) {
	.xxl\:h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
	.xxl\:h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
	.xxl\:h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
	.xxl\:h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
	.xxl\:h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
	.xxl\:h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
	.xxl\:p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
	.xxl\:small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
	.xxl\:tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }
}

@media (max-width: 1032px) {
	.xl\:h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
	.xl\:h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
	.xl\:h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
	.xl\:h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
	.xl\:h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
	.xl\:h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
	.xl\:p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
	.xl\:small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
	.xl\:tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }
}

@media (max-width: 864px) {
	.lg\:h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
	.lg\:h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
	.lg\:h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
	.lg\:h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
	.lg\:h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
	.lg\:h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
	.lg\:p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
	.lg\:small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
	.lg\:tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }
}

@media (max-width: 696px) {
	.md\:h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
	.md\:h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
	.md\:h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
	.md\:h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
	.md\:h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
	.md\:h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
	.md\:p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
	.md\:small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
	.md\:tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }
}

@media (max-width: 444px) {
  .sm\:h1 {font-size: var(--font-size-h1); line-height: var(--line-height-h1); }
	.sm\:h2 {font-size: var(--font-size-h2); line-height: var(--line-height-h2); }
	.sm\:h3 {font-size: var(--font-size-h3); line-height: var(--line-height-h3); }
	.sm\:h4 {font-size: var(--font-size-h4); line-height: var(--line-height-h4); }
	.sm\:h5 {font-size: var(--font-size-h5); line-height: var(--line-height-h5); }
	.sm\:h6 {font-size: var(--font-size-h6); line-height: var(--line-height-h6); }
	.sm\:p {font-size: var(--font-size-p); line-height: var(--line-height-p); }
	.sm\:small {font-size: var(--font-size-small); line-height: var(--line-height-small); }
	.sm\:tiny {font-size: var(--font-size-tiny); line-height: var(--line-height-tiny); }
}
