.w-0 { width: 0; }
.w-vw, .w-viewport { width: 100vw; }
.w-px { width: var(--box-px); }
.w-1 { width: var(--box-1); }
.w-2 { width: var(--box-2); }
.w-3 { width: var(--box-3); }
.w-4 { width: var(--box-4); }
.w-5 { width: var(--box-5); }
.w-6 { width: var(--box-6); }
.w-7 { width: var(--box-7); }
.w-8 { width: var(--box-8); }
.w-9 { width: var(--box-9); }
.w-10 { width: var(--box-10); }
.w-11 { width: var(--box-11); }
.w-11 { width: var(--box-11); }
.w-12 { width: var(--box-12); }
.w-12 { width: var(--box-12); }
.w-13 { width: var(--box-13); }
.w-13 { width: var(--box-13); }
.w-14 { width: var(--box-14); }
.w-14 { width: var(--box-14); }
.w-15 { width: var(--box-15); }
.w-15 { width: var(--box-15); }
.w-16 { width: var(--box-16); }
.w-24 { width: var(--box-24); }
.w-32 { width: var(--box-32); }
.w-40 { width: var(--box-40); }
.w-48 { width: var(--box-48); }

.wp-10 { width: 10%; }
.wp-15 { width: 15%; }
.wp-20 { width: 20%; }
.wp-25 { width: 25%; }
.wp-30 { width: 30%; }
.wp-33 { width: calc(100%/3); }
.wp-35 { width: 35%; }
.wp-40 { width: 40%; }
.wp-45 { width: 45%; }
.wp-50 { width: 50%; }
.wp-55 { width: 55%; }
.wp-60 { width: 60%; }
.wp-66 { width: calc((100%/3)*2); }
.wp-65 { width: 65%; }
.wp-70 { width: 70%; }
.wp-75 { width: 75%; }
.wp-80 { width: 80%; }
.wp-85 { width: 85%; }
.wp-90 { width: 90%; }
.wp-95 { width: 95%; }
.wp-100 { width: 100%; }

.wmax-0 { max-width: 0; }
.w-vw, .w-viewport { max-width: 100vw; }
.wmax-px { max-width: var(--box-px); }
.wmax-1 { max-width: var(--box-1); }
.wmax-2 { max-width: var(--box-2); }
.wmax-3 { max-width: var(--box-3); }
.wmax-4 { max-width: var(--box-4); }
.wmax-5 { max-width: var(--box-5); }
.wmax-6 { max-width: var(--box-6); }
.wmax-7 { max-width: var(--box-7); }
.wmax-8 { max-width: var(--box-8); }
.wmax-9 { max-width: var(--box-9); }
.wmax-10 { max-width: var(--box-10); }
.wmax-11 { max-width: var(--box-11); }
.wmax-11 { max-width: var(--box-11); }
.wmax-12 { max-width: var(--box-12); }
.wmax-12 { max-width: var(--box-12); }
.wmax-13 { max-width: var(--box-13); }
.wmax-13 { max-width: var(--box-13); }
.wmax-14 { max-width: var(--box-14); }
.wmax-14 { max-width: var(--box-14); }
.wmax-15 { max-width: var(--box-15); }
.wmax-15 { max-width: var(--box-15); }
.wmax-16 { max-width: var(--box-16); }
.wmax-24 { max-width: var(--box-24); }
.wmax-32 { max-width: var(--box-32); }
.wmax-40 { max-width: var(--box-40); }
.wmax-48 { max-width: var(--box-48); }
.wpmax-15 { max-width: 15%; }
.wpmax-10 { max-width: 10%; }
.wpmax-20 { max-width: 20%; }
.wpmax-25 { max-width: 25%; }
.wpmax-30 { max-width: 30%; }
.wpmax-33 { max-width: calc(100%/3); }
.wpmax-35 { max-width: 35%; }
.wpmax-40 { max-width: 40%; }
.wpmax-45 { max-width: 45%; }
.wpmax-50 { max-width: 50%; }
.wpmax-55 { max-width: 55%; }
.wpmax-60 { max-width: 60%; }
.wpmax-66 { max-width: calc((100%/3)*2); }
.wpmax-65 { max-width: 65%; }
.wpmax-70 { max-width: 70%; }
.wpmax-75 { max-width: 75%; }
.wpmax-80 { max-width: 80%; }
.wpmax-85 { max-width: 85%; }
.wpmax-90 { max-width: 90%; }
.wpmax-95 { max-width: 95%; }
.wpmax-100 { max-width: 100%; }

.wmin-0 { max-width: 0; }
.wmin-vw, .wmin-viewport { min-width: 100vw; }
.wmin-px { min-width: var(--box-px); }
.wmin-1 { min-width: var(--box-1); }
.wmin-2 { min-width: var(--box-2); }
.wmin-3 { min-width: var(--box-3); }
.wmin-4 { min-width: var(--box-4); }
.wmin-5 { min-width: var(--box-5); }
.wmin-6 { min-width: var(--box-6); }
.wmin-7 { min-width: var(--box-7); }
.wmin-8 { min-width: var(--box-8); }
.wmin-9 { min-width: var(--box-9); }
.wmin-10 { min-width: var(--box-10); }
.wmin-11 { min-width: var(--box-11); }
.wmin-11 { min-width: var(--box-11); }
.wmin-12 { min-width: var(--box-12); }
.wmin-12 { min-width: var(--box-12); }
.wmin-13 { min-width: var(--box-13); }
.wmin-13 { min-width: var(--box-13); }
.wmin-14 { min-width: var(--box-14); }
.wmin-14 { min-width: var(--box-14); }
.wmin-15 { min-width: var(--box-15); }
.wmin-15 { min-width: var(--box-15); }
.wmin-16 { min-width: var(--box-16); }
.wmin-24 { min-width: var(--box-24); }
.wmin-32 { min-width: var(--box-32); }
.wmin-40 { min-width: var(--box-40); }
.wmin-48 { min-width: var(--box-48); }
.wpmin-15 { min-width: 15%; }
.wpmin-10 { min-width: 10%; }
.wpmin-20 { min-width: 20%; }
.wpmin-25 { min-width: 25%; }
.wpmin-30 { min-width: 30%; }
.wpmin-33 { min-width: calc(100%/3); }
.wpmin-35 { min-width: 35%; }
.wpmin-40 { min-width: 40%; }
.wpmin-45 { min-width: 45%; }
.wpmin-50 { min-width: 50%; }
.wpmin-55 { min-width: 55%; }
.wpmin-60 { min-width: 60%; }
.wpmin-66 { min-width: calc((100%/3)*2); }
.wpmin-65 { min-width: 65%; }
.wpmin-70 { min-width: 70%; }
.wpmin-75 { min-width: 75%; }
.wpmin-80 { min-width: 80%; }
.wpmin-85 { min-width: 85%; }
.wpmin-90 { min-width: 90%; }
.wpmin-95 { min-width: 95%; }
.wpmin-100 { min-width: 100%; }

@media (max-width: 1360px) {
    .xxl\:w-0 { width: 0; }
    .xxl\:w-vw, .xxl\:w-viewport { width: 100vw; }
    .xxl\:w-px { width: var(--box-px); }
    .xxl\:w-1 { width: var(--box-1); }
    .xxl\:w-2 { width: var(--box-2); }
    .xxl\:w-3 { width: var(--box-3); }
    .xxl\:w-4 { width: var(--box-4); }
    .xxl\:w-5 { width: var(--box-5); }
    .xxl\:w-6 { width: var(--box-6); }
    .xxl\:w-7 { width: var(--box-7); }
    .xxl\:w-8 { width: var(--box-8); }
    .xxl\:w-9 { width: var(--box-9); }
    .xxl\:w-10 { width: var(--box-10); }
    .xxl\:w-11 { width: var(--box-11); }
    .xxl\:w-11 { width: var(--box-11); }
    .xxl\:w-12 { width: var(--box-12); }
    .xxl\:w-12 { width: var(--box-12); }
    .xxl\:w-13 { width: var(--box-13); }
    .xxl\:w-13 { width: var(--box-13); }
    .xxl\:w-14 { width: var(--box-14); }
    .xxl\:w-14 { width: var(--box-14); }
    .xxl\:w-15 { width: var(--box-15); }
    .xxl\:w-15 { width: var(--box-15); }
    .xxl\:w-16 { width: var(--box-16); }
    .xxl\:w-24 { width: var(--box-24); }
    .xxl\:w-32 { width: var(--box-32); }
    .xxl\:w-40 { width: var(--box-40); }
    .xxl\:w-48 { width: var(--box-48); }
    .xxl\:wp-15 { width: 15%; }
    .xxl\:wp-10 { width: 10%; }
    .xxl\:wp-20 { width: 20%; }
    .xxl\:wp-25 { width: 25%; }
    .xxl\:wp-30 { width: 30%; }
    .xxl\:wp-33 { width: calc(100%/3); }
    .xxl\:wp-35 { width: 35%; }
    .xxl\:wp-40 { width: 40%; }
    .xxl\:wp-45 { width: 45%; }
    .xxl\:wp-50 { width: 50%; }
    .xxl\:wp-55 { width: 55%; }
    .xxl\:wp-60 { width: 60%; }
    .xxl\:wp-66 { width: calc((100%/3)*2); }
    .xxl\:wp-65 { width: 65%; }
    .xxl\:wp-70 { width: 70%; }
    .xxl\:wp-75 { width: 75%; }
    .xxl\:wp-80 { width: 80%; }
    .xxl\:wp-85 { width: 85%; }
    .xxl\:wp-90 { width: 90%; }
    .xxl\:wp-95 { width: 95%; }
    .xxl\:wp-100 { width: 100%; }
}

@media (max-width: 1032px) {
    .xl\:w-0 { width: 0; }
    .xl\:w-vw, .xl\:w-viewport { width: 100vw; }
    .xl\:w-px { width: var(--box-px); }
    .xl\:w-1 { width: var(--box-1); }
    .xl\:w-2 { width: var(--box-2); }
    .xl\:w-3 { width: var(--box-3); }
    .xl\:w-4 { width: var(--box-4); }
    .xl\:w-5 { width: var(--box-5); }
    .xl\:w-6 { width: var(--box-6); }
    .xl\:w-7 { width: var(--box-7); }
    .xl\:w-8 { width: var(--box-8); }
    .xl\:w-9 { width: var(--box-9); }
    .xl\:w-10 { width: var(--box-10); }
    .xl\:w-11 { width: var(--box-11); }
    .xl\:w-11 { width: var(--box-11); }
    .xl\:w-12 { width: var(--box-12); }
    .xl\:w-12 { width: var(--box-12); }
    .xl\:w-13 { width: var(--box-13); }
    .xl\:w-13 { width: var(--box-13); }
    .xl\:w-14 { width: var(--box-14); }
    .xl\:w-14 { width: var(--box-14); }
    .xl\:w-15 { width: var(--box-15); }
    .xl\:w-15 { width: var(--box-15); }
    .xl\:w-16 { width: var(--box-16); }
    .xl\:w-24 { width: var(--box-24); }
    .xl\:w-32 { width: var(--box-32); }
    .xl\:w-40 { width: var(--box-40); }
    .xl\:w-48 { width: var(--box-48); }
    .xl\:wp-15 { width: 15%; }
    .xl\:wp-10 { width: 10%; }
    .xl\:wp-20 { width: 20%; }
    .xl\:wp-25 { width: 25%; }
    .xl\:wp-30 { width: 30%; }
    .xl\:wp-33 { width: calc(100%/3); }
    .xl\:wp-35 { width: 35%; }
    .xl\:wp-40 { width: 40%; }
    .xl\:wp-45 { width: 45%; }
    .xl\:wp-50 { width: 50%; }
    .xl\:wp-55 { width: 55%; }
    .xl\:wp-60 { width: 60%; }
    .xl\:wp-66 { width: calc((100%/3)*2); }
    .xl\:wp-65 { width: 65%; }
    .xl\:wp-70 { width: 70%; }
    .xl\:wp-75 { width: 75%; }
    .xl\:wp-80 { width: 80%; }
    .xl\:wp-85 { width: 85%; }
    .xl\:wp-90 { width: 90%; }
    .xl\:wp-95 { width: 95%; }
    .xl\:wp-100 { width: 100%; }
}

@media (max-width: 864px) {
    .lg\:w-0 { width: 0; }
    .lg\:w-vw, .lg\:w-viewport { width: 100vw; }
    .lg\:w-px { width: var(--box-px); }
    .lg\:w-1 { width: var(--box-1); }
    .lg\:w-2 { width: var(--box-2); }
    .lg\:w-3 { width: var(--box-3); }
    .lg\:w-4 { width: var(--box-4); }
    .lg\:w-5 { width: var(--box-5); }
    .lg\:w-6 { width: var(--box-6); }
    .lg\:w-7 { width: var(--box-7); }
    .lg\:w-8 { width: var(--box-8); }
    .lg\:w-9 { width: var(--box-9); }
    .lg\:w-10 { width: var(--box-10); }
    .lg\:w-11 { width: var(--box-11); }
    .lg\:w-11 { width: var(--box-11); }
    .lg\:w-12 { width: var(--box-12); }
    .lg\:w-12 { width: var(--box-12); }
    .lg\:w-13 { width: var(--box-13); }
    .lg\:w-13 { width: var(--box-13); }
    .lg\:w-14 { width: var(--box-14); }
    .lg\:w-14 { width: var(--box-14); }
    .lg\:w-15 { width: var(--box-15); }
    .lg\:w-15 { width: var(--box-15); }
    .lg\:w-16 { width: var(--box-16); }
    .lg\:w-24 { width: var(--box-24); }
    .lg\:w-32 { width: var(--box-32); }
    .lg\:w-40 { width: var(--box-40); }
    .lg\:w-48 { width: var(--box-48); }
    .lg\:wp-15 { width: 15%; }
    .lg\:wp-10 { width: 10%; }
    .lg\:wp-20 { width: 20%; }
    .lg\:wp-25 { width: 25%; }
    .lg\:wp-30 { width: 30%; }
    .lg\:wp-33 { width: calc(100%/3); }
    .lg\:wp-35 { width: 35%; }
    .lg\:wp-40 { width: 40%; }
    .lg\:wp-45 { width: 45%; }
    .lg\:wp-50 { width: 50%; }
    .lg\:wp-55 { width: 55%; }
    .lg\:wp-60 { width: 60%; }
    .lg\:wp-66 { width: calc((100%/3)*2); }
    .lg\:wp-65 { width: 65%; }
    .lg\:wp-70 { width: 70%; }
    .lg\:wp-75 { width: 75%; }
    .lg\:wp-80 { width: 80%; }
    .lg\:wp-85 { width: 85%; }
    .lg\:wp-90 { width: 90%; }
    .lg\:wp-95 { width: 95%; }
    .lg\:wp-100 { width: 100%; }
}


@media (max-width: 696px) {
    .md\:w-0 { width: 0; }
    .md\:w-vw, .md\:w-viewport { width: 100vw; }
    .md\:w-px { width: var(--box-px); }
    .md\:w-1 { width: var(--box-1); }
    .md\:w-2 { width: var(--box-2); }
    .md\:w-3 { width: var(--box-3); }
    .md\:w-4 { width: var(--box-4); }
    .md\:w-5 { width: var(--box-5); }
    .md\:w-6 { width: var(--box-6); }
    .md\:w-7 { width: var(--box-7); }
    .md\:w-8 { width: var(--box-8); }
    .md\:w-9 { width: var(--box-9); }
    .md\:w-10 { width: var(--box-10); }
    .md\:w-11 { width: var(--box-11); }
    .md\:w-11 { width: var(--box-11); }
    .md\:w-12 { width: var(--box-12); }
    .md\:w-12 { width: var(--box-12); }
    .md\:w-13 { width: var(--box-13); }
    .md\:w-13 { width: var(--box-13); }
    .md\:w-14 { width: var(--box-14); }
    .md\:w-14 { width: var(--box-14); }
    .md\:w-15 { width: var(--box-15); }
    .md\:w-15 { width: var(--box-15); }
    .md\:w-16 { width: var(--box-16); }
    .md\:w-24 { width: var(--box-24); }
    .md\:w-32 { width: var(--box-32); }
    .md\:w-40 { width: var(--box-40); }
    .md\:w-48 { width: var(--box-48); }
    .md\:wp-15 { width: 15%; }
    .md\:wp-10 { width: 10%; }
    .md\:wp-20 { width: 20%; }
    .md\:wp-25 { width: 25%; }
    .md\:wp-30 { width: 30%; }
    .md\:wp-33 { width: calc(100%/3); }
    .md\:wp-35 { width: 35%; }
    .md\:wp-40 { width: 40%; }
    .md\:wp-45 { width: 45%; }
    .md\:wp-50 { width: 50%; }
    .md\:wp-55 { width: 55%; }
    .md\:wp-60 { width: 60%; }
    .md\:wp-66 { width: calc((100%/3)*2); }
    .md\:wp-65 { width: 65%; }
    .md\:wp-70 { width: 70%; }
    .md\:wp-75 { width: 75%; }
    .md\:wp-80 { width: 80%; }
    .md\:wp-85 { width: 85%; }
    .md\:wp-90 { width: 90%; }
    .md\:wp-95 { width: 95%; }
    .md\:wp-100 { width: 100%; }
}

@media (max-width: 444px) {
    .sm\:w-0 { width: 0; }
    .sm\:w-vw, .sm\:w-viewport { width: 100vw; }
    .sm\:w-px { width: var(--box-px); }
    .sm\:w-1 { width: var(--box-1); }
    .sm\:w-2 { width: var(--box-2); }
    .sm\:w-3 { width: var(--box-3); }
    .sm\:w-4 { width: var(--box-4); }
    .sm\:w-5 { width: var(--box-5); }
    .sm\:w-6 { width: var(--box-6); }
    .sm\:w-7 { width: var(--box-7); }
    .sm\:w-8 { width: var(--box-8); }
    .sm\:w-9 { width: var(--box-9); }
    .sm\:w-10 { width: var(--box-10); }
    .sm\:w-11 { width: var(--box-11); }
    .sm\:w-11 { width: var(--box-11); }
    .sm\:w-12 { width: var(--box-12); }
    .sm\:w-12 { width: var(--box-12); }
    .sm\:w-13 { width: var(--box-13); }
    .sm\:w-13 { width: var(--box-13); }
    .sm\:w-14 { width: var(--box-14); }
    .sm\:w-14 { width: var(--box-14); }
    .sm\:w-15 { width: var(--box-15); }
    .sm\:w-15 { width: var(--box-15); }
    .sm\:w-16 { width: var(--box-16); }
    .sm\:w-24 { width: var(--box-24); }
    .sm\:w-32 { width: var(--box-32); }
    .sm\:w-40 { width: var(--box-40); }
    .sm\:w-48 { width: var(--box-48); }
    .sm\:wp-15 { width: 15%; }
    .sm\:wp-10 { width: 10%; }
    .sm\:wp-20 { width: 20%; }
    .sm\:wp-25 { width: 25%; }
    .sm\:wp-30 { width: 30%; }
    .sm\:wp-33 { width: calc(100%/3); }
    .sm\:wp-35 { width: 35%; }
    .sm\:wp-40 { width: 40%; }
    .sm\:wp-45 { width: 45%; }
    .sm\:wp-50 { width: 50%; }
    .sm\:wp-55 { width: 55%; }
    .sm\:wp-60 { width: 60%; }
    .sm\:wp-66 { width: calc((100%/3)*2); }
    .sm\:wp-65 { width: 65%; }
    .sm\:wp-70 { width: 70%; }
    .sm\:wp-75 { width: 75%; }
    .sm\:wp-80 { width: 80%; }
    .sm\:wp-85 { width: 85%; }
    .sm\:wp-90 { width: 90%; }
    .sm\:wp-95 { width: 95%; }
    .sm\:wp-100 { width: 100%; }
}