.demo {
	min-height: 11rem;

	background-color: white;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #D5D6E0;
}

.demo.flex--screen { pointer-events: none; }
.demo.flex--column .element { transform: rotate(90deg); }

.element {
	background-color: #D5D6E0;
	color: #A2A2AD;

	font-weight: bold;
	text-align: center;
}

.element--dimensions {
	height: 5rem;
	width: 5rem;

	line-height: 5rem;
}

.element--dimensions-xl {
	height: 10rem;
	width: 10rem;
}

.element:first-child span {
	float: left;
	height: 100%;
	width: 100%;

	background-color: #3C3C50;
}

.element:first-child {
	background-color: #5D6FBA;
	color: white;
}

.output {
	color: #A2A2AD;
	user-select: all;
	-webkit-user-select: all;

	font-family: "Source Code Pro", monospace;
	font-size: 0.75rem;
	tab-size: 4;
	white-space: normal;
}

.output .class { color: #FF5656; }
