.demo {
	min-height: 10rem;

	background-color: #ECEEF5;
}

.demo.flex--column .element { transform: rotate(90deg); }

.element {
	background-color: #AACCE1;
	color: white;
}

.element:nth-child(odd) { background-color: #3D4275; }
.element--dimensions {
	height: 5rem;
	width: 5rem;

	font-family: "Source Code Pro", monospace;
	line-height: 5rem;
}

.output {
	border: 2px solid #ECEEF5;
	border-top: 0;
	color: #A2A2AD;

	font-family: "Source Code Pro", monospace;
	font-size: .75rem;
	tab-size: 4;
	white-space: normal;
}

.output .class { color: #3D4275; }
