<div class="specimen">
	<div class="container">
		<h1>Grid</h1>
	</div>

	<!-- Playground grid -->
	<div
		ng-init="container = {}; grid = {}; grid.options = {}; element = {};"
		ng-class="{ 'container--small': container.small }"
		class="container">
		<div ng-class="{
			'grid--collapse': grid.options.collapse,
			'grid--column': grid.options.column,
			'grid--reverse': grid.options.reverse,
			'grid--wrap': grid.options.wrap,
			'grid--screen': grid.options.screen,

			'grid--start': grid.align === 'start',
			'grid--end': grid.align === 'end',

			'grid--center': grid.center === 'center',
			'grid--hcenter': grid.center === 'hcenter',
			'grid--vcenter': grid.center === 'vcenter',

			'grid--around': grid.justify === 'around',
			'grid--between': grid.justify === 'between',
			'grid--right': grid.justify === 'right'
		}"
		class="grid"
		data-grid>

			<!-- Elements -->
			<div ng-class="{
				'grow-1': element.grow === '1',
				'grow-2': element.grow === '2',
				'grow-3': element.grow === '3',
				'grow-4': element.grow === '4',
				'grow-5': element.grow === '5',

				'order-1': element.order === '1',
				'order-2': element.order === '2',
				'order-3': element.order === '3',
				'order-4': element.order === '4',
				'order-5': element.order === '5',

				'self--center': element.align === 'center',
				'self--start': element.align === 'start',
				'self--end': element.align === 'end',
				'self--baseline': element.align === 'baseline',
				'self--stretch': element.align === 'stretch',

				'm-0': element.margin === 'm-0',
				'm-1': element.margin === 'm-1',
				'm-2': element.margin === 'm-2',
				'm-3': element.margin === 'm-3',
				'm-4': element.margin === 'm-4',

				'p-0': element.padding === 'p-0',
				'p-1': element.padding === 'p-1',
				'p-2': element.padding === 'p-2',
				'p-3': element.padding === 'p-3',
				'p-4': element.padding === 'p-4',
			}"><span>1</span></div>
			<div
				ng-bind="$index + 2"
				ng-class="{ 'grow-1': element.grow !== 'false' }"
				ng-repeat="x in ((x = []) && (x.length=elementCount) && x) track by $index"></div>
		</div>
		<div
			class="clearfix pt-1"
			ng-init="elementCount = 1">
			<a class="btn float-right" ng-click="elementCount = elementCount + 1" ng-class="{ 'disabled': elementCount >= 14 }">more</a>
			<a class="btn float-right" ng-click="elementCount = elementCount - 1" ng-class="{ 'disabled': elementCount <= 1 }">less</a>
		</div>
	</div>
	<div class="container">

		<!-- Options -->
		<div class="grid grid--collapse mh-2">

			<!-- Container options -->
			<div class="grow-1 mr-1 mb-2">
				<h4 class="normal">Container</h4>
				<ul>
					<li>
						<input ng-model="container.small" type="checkbox" id="containerSmall">
						<label for="containerSmall">small</label>
					</li>
				</ul>
			</div>

			<!-- Grid options -->
			<div class="grow-2 mr-1 mb-2">
				<h4 class="normal">Grid</h4>
				<ul>
					<li>
						<input ng-model="grid.options.collapse" type="checkbox" id="grid.options.collapse">
						<label for="grid.options.collapse">responsive</label>
					</li>
					<li>
						<input ng-model="grid.options.column" type="checkbox" id="grid.options.column">
						<label for="grid.options.column">column direction</label>
					</li>
					<li>
						<input ng-model="grid.options.reverse" type="checkbox" id="grid.options.reverse">
						<label for="grid.options.reverse">reverse order</label>
					</li>
					<li>
						<input ng-model="grid.options.wrap" type="checkbox" id="grid.options.wrap">
						<label for="grid.options.wrap">wrap elements</label>
					</li>
					<li>
						<input ng-model="grid.options.screen" type="checkbox" id="grid.options.screen">
						<label for="grid.options.screen">size = screen</label>
					</li>
					<li ng-init="grid.center = 'false'">
						<input ng-model="grid.center" type="radio" value="false" id="grid.center.none">
						<label for="grid.center.none">none</label>

						<input ng-model="grid.center" type="radio" value="center" id="grid.center.center">
						<label for="grid.center.center">center</label>

						<input ng-model="grid.center" type="radio" value="hcenter" id="grid.center.hcenter">
						<label for="grid.center.hcenter">hcenter</label>

						<input ng-model="grid.center" type="radio" value="vcenter" id="grid.center.vcenter">
						<label for="grid.center.vcenter">vcenter</label>
					</li>
					<li ng-init="grid.justify = 'false'">
						<input ng-model="grid.justify" type="radio" value="false" id="gridJustifyNone">
						<label for="gridJustifyNone">none</label>

						<input ng-model="grid.justify" type="radio" value="around" id="gridJustifyAround">
						<label for="gridJustifyAround">around</label>

						<input ng-model="grid.justify" type="radio" value="between" id="gridJustifyBetween">
						<label for="gridJustifyBetween">between</label>

						<input ng-model="grid.justify" type="radio" value="right" id="gridJustifyRight">
						<label for="gridJustifyRight">right</label>
					</li>

					<li ng-init="grid.align = 'false'">
						<input ng-model="grid.align" type="radio" value="false" id="gridAlignNone">
						<label for="gridAlignNone">none</label>

						<input ng-model="grid.align" type="radio" value="start" id="gridAlignStart">
						<label for="gridAlignStart">start</label>

						<input ng-model="grid.align" type="radio" value="end" id="gridAlignEnd">
						<label for="gridAlignEnd">end</label>
					</li>
				</ul>
			</div>

			<!-- Element options -->
			<div class="grow-2 mb-2">
				<h4 class="normal">element</h4>
				<ul>
					<li ng-init="element.grow = 'false'">
						<input ng-model="element.grow" type="radio" value="false" id="element.grow.none">
						<label for="element.grow.none">grow false</label>

						<input ng-model="element.grow" type="radio" value="1" id="element.grow.1">
						<label for="element.grow.1">grow 1</label>

						<input ng-model="element.grow" type="radio" value="2" id="element.grow.2">
						<label for="element.grow.2">grow 2</label>

						<input ng-model="element.grow" type="radio" value="3" id="element.grow.3">
						<label for="element.grow.3">grow 3</label>

						<input ng-model="element.grow" type="radio" value="4" id="element.grow.4">
						<label for="element.grow.4">grow 4</label>
					</li>
					<li ng-init="element.order = 'false'">
						<input ng-model="element.order" type="radio" value="false" id="element.order.none">
						<label for="element.order.none">order false</label>

						<input ng-model="element.order" type="radio" value="1" id="element.order.1">
						<label for="element.order.1">order 1</label>

						<input ng-model="element.order" type="radio" value="2" id="element.order.2">
						<label for="element.order.2">order 2</label>

						<input ng-model="element.order" type="radio" value="3" id="element.order.3">
						<label for="element.order.3">order 3</label>

						<input ng-model="element.order" type="radio" value="4" id="element.order.4">
						<label for="element.order.4">order 4</label>
					</li>
					<li>
						element align
						<select
							ng-init="element.align = 'false'"
							ng-model="element.align">
							<option value="false">false</option>
							<option value="center">self--center</option>
							<option value="start">self--start</option>
							<option value="end">self--end</option>
							<option value="baseline">self--baseline</option>
							<option value="stretch">self--stretch</option>
						</select>
					</li>
					<li>
						margin
						<select
							ng-init="element.margin = 'false'"
							ng-model="element.margin">
							<option value="false">false</option>
							<option value="m-0">m-0</option>
							<option value="m-1">m-1</option>
							<option value="m-2">m-2</option>
							<option value="m-3">m-3</option>
							<option value="m-4">m-4</option>
						</select>
					</li>
					<li>
						padding
						<select
							ng-init="element.padding = 'false'"
							ng-model="element.padding">
							<option value="false">false</option>
							<option value="p-0">p-0</option>
							<option value="p-1">p-1</option>
							<option value="p-2">p-2</option>
							<option value="p-3">p-3</option>
							<option value="p-4">p-4</option>
						</select>
					</li>
				</ul>
			</div>
		</div>

		<!-- FIXME Output -->
		<h2>Output</h2>
		<pre class="p-1">
			&lt;div class="<span>container</span><b
				ng-if="value"
				ng-repeat="(class, value) in container"> container--{{ class }}
			</b>"&gt;<br>
			<em>&rarr;</em>&lt;div class="<span>grid</span><b
						ng-if="value"
						ng-repeat="(class, value) in grid.options"> grid--{{ class }}</b><b
						ng-if="grid.align !== 'false'"> grid--{{ grid.align }}</b><b
						ng-if="grid.center !== 'false'"> grid--{{ grid.center }}</b><b
						ng-if="grid.justify !== 'false'"> grid--{{ grid.justify }}</b>"&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;div class="<b
						ng-if="element.grow !== 'false'">grow-{{ element.grow }} </b><b
						ng-if="element.order !== 'false'">order-{{ element.order }} </b><b
						ng-if="element.align !== 'false'">self--{{ element.align }} </b><b
						ng-if="element.margin !== 'false'">{{ element.margin }} </b><b
						ng-if="element.padding !== 'false'">{{ element.padding }}</b>"&gt;&lt;/div&gt;<br>
					<div
						ng-repeat="x in ((x = []) && (x.length=elementCount) && x) track by $index">
						<em>&rarr;</em><em>&rarr;</em>&lt;div class="<b ng-if="element.grow !== 'false'">grow-1</b>"</span>&gt;&lt;/div&gt;</div>
					<em>&rarr;</em>&lt;/div&gt;<br>
			&lt;/div&gt;
		</pre>

		<!-- TODO Element helpers -->
		<!-- TODO Breakpoints -->
		<!-- TODO Atom size -->
		<!-- TODO Add docs -->
		<!-- Basic flex utility with predefined, responsive breakpoints. -->
	</div>
</div>
