<div class="mb-4">
	<div class="container">
		<h1>WIP Typo</h1>
	</div>
	<div class="container">

		<h6>Format</h6>
		<div
			ng-init="fontSize = 18"
			class="clearfix p-1">
			<div class="btn-group float-right">
				<a class="btn" ng-click="fontSize = 12" ng-class="{ 'active': fontSize === 12 }">12px</a>
				<a class="btn" ng-click="fontSize = 14" ng-class="{ 'active': fontSize === 14 }">14px</a>
				<a class="btn" ng-click="fontSize = 16" ng-class="{ 'active': fontSize === 16 }">16px</a>
				<a class="btn" ng-click="fontSize = 18" ng-class="{ 'active': fontSize === 18 }">18px</a>
				<a class="btn" ng-click="fontSize = 20" ng-class="{ 'active': fontSize === 20 }">20px</a>
				<a class="btn" ng-click="fontSize = 22" ng-class="{ 'active': fontSize === 22 }">22px</a>
				<a class="btn" ng-click="fontSize = 24" ng-class="{ 'active': fontSize === 24 }">24px</a>
			</div>
		</div>
		<div
			ng-style="{
				'font-size': fontSize + 'px' || '16px',
				'background-size': fontSize + 'px ' + fontSize + 'px',
				'background-position': '0 ' + fontSize/2 + 'px, 0 0',
			}"
			class="format demo demo--format">
			<h1>Header</h1>
			<ul>
				<li>establish a dictatorship</li>
				<li>safeguard a revolution</li>
			</ul>
			<h5>The object pharetra pellentesque ante. Proin porttitor sem tortor, nec laoreet mi bibendum a.</h5>
			<h6>The object pharetra pellentesque ante. Proin porttitor sem tortor, nec laoreet mi bibendum a.</h6>
			<ol>
				<li>The object of persecution is persecution.</li>
				<li>The object of torture is torture.</li>
			</ol>
			<h3>laoreet mi bibendum</h3>
			<p>What pure power means you will <a href="#">understand presently</a>. We are different from the oligarchies of the past in that we know what we are doing.</p>
			<p>Mauris mauris augue, euismod nec turpis in, pharetra pellentesque ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin porttitor sem tortor, nec laoreet mi bibendum a. Nulla laoreet scelerisque nulla, molestie suscipit lorem ultrices gravida. Fusce pharetra nunc lorem, vitae volutpat arcu molestie feugiat. Vestibulum hendrerit nibh sed lectus malesuada, a euismod ante rutrum. Duis eget efficitur lacus. Maecenas aliquet consectetur faucibus. Donec a magna et est condimentum ultricies vitae vel lacus.</p>
		</div>
		<pre class="mt-1 mb-3 p-1">
			&lt;div class="format"&gt;<br>
				<em>&rarr;</em>&lt;h4&gt;&lt;/h4&gt;<br>
				<em>&rarr;</em>&lt;ul&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
				<em>&rarr;</em>&lt;/ul&gt;<br>

				<em>&rarr;</em>&lt;ol&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
				<em>&rarr;</em>&lt;/ol&gt;<br>
				<em>&rarr;</em>&lt;p&gt;&lt;/p&gt;<br>
			&lt;/div&gt;
		</pre>

		<h6>Headers</h6>
		<div class="demo">
			<h1>The quick brown fox jumps over the lazy dog</h1>
			<h2>The quick brown fox jumps over the lazy dog</h2>
			<h3>The quick brown fox jumps over the lazy dog</h3>
			<h4>The quick brown fox jumps over the lazy dog</h4>
			<h5>The quick brown fox jumps over the lazy dog</h5>
			<h6>The quick brown fox jumps over the lazy dog</h6>
			<p>Now I will tell you the answer to my question. It is this. The Party seeks power entirely for its own sake. We are not interested in the good of others; we are interested solely in power, pure power. What pure power means you will understand presently. We are different from the oligarchies of the past in that we know what we are doing. All the others, even those who resembled ourselves, were cowards and hypocrites.</p>
			<small>One morning</small>
		</div>
		<pre class="mt-1 mb-3 p-1">
			&lt;h1&gt;&lt;/h1&gt;<br>
			&lt;h2&gt;&lt;/h2&gt;<br>
			&lt;h3&gt;&lt;/h3&gt;<br>
			&lt;h4&gt;&lt;/h4&gt;<br>
			&lt;h5&gt;&lt;/h5&gt;<br>
			&lt;h6&gt;&lt;/h6&gt;<br>
			&lt;p&gt;&lt;/p&gt;<br>
			&lt;small&gt;&lt;/small&gt;
		</pre>

		<h6>Utility</h6>
		<div class="demo">
			<h5 class="normal">normal</h5>
			<span class="bold">bold</span>
			<span class="italic">italic</span>
			<span class="nowrap">nowrap</span>
			<span class="pre-line">pre-line</span>
			<div class="center">center</div>
			<div class="left">left</div>
			<div class="right">right</div>
			<span class="uppercase">uppercase</span>
		</div>
		<pre class="mt-1 mb-3 p-1">
			&lt;h5 class="normal"&gt;&lt;/h5&gt;<br>
			&lt;span class="bold"&gt;&lt;/span&gt;<br>
			&lt;span class="italic"&gt;&lt;/span&gt;<br>
			&lt;span class="nowrap"&gt;&lt;/span&gt;<br>
			&lt;span class="pre-line"&gt;&lt;/span&gt;<br>
			&lt;div class="center"&gt;&lt;/div&gt;<br>
			&lt;div class="left"&gt;&lt;/div&gt;<br>
			&lt;div class="right"&gt;&lt;/div&gt;<br>
			&lt;span class="uppercase"&gt;&lt;/span&gt;<br>
		</pre>
	</div>
</div>
