<style
	ng-if="!helpers"
	media="screen">
	.demo--format,
	.demo--format > * { background: transparent !important; }
</style>
<div class="mb-4">
	<div class="container">
		<h1>Typo</h1>
	</div>
	<div class="container">
		<div
			ng-style="{
				'font-size': fontSize + 'px' || '16px',
				'background-size': fontSize + 'px ' + fontSize + 'px',
				'background-position': '0 ' + fontSize/2 + 'px, 0 0',
			}"
			ng-class="{ 'format': format }"
			class="demo demo--format">
			<h1 class="normal px-1">Header</h1>
			<ul class="px-1">
				<li>establish a dictatorship</li>
				<li>safeguard a revolution</li>
			</ul>
			<ol class="px-1">
				<li>The object of persecution is persecution.</li>
				<li>The object of torture is torture.</li>
			</ol>
			<h3 class="px-1">laoreet mi bibendum</h3>
			<p class="px-1">What pure power means you will <a href="#">understand presently</a>. We are different from the oligarchies of the past in that we know what we are doing.</p>
			<p class="px-1">Mauris mauris augue, euismod nec turpis in, pharetra pellentesque ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin porttitor sem tortor, nec laoreet mi bibendum a. Nulla laoreet scelerisque nulla, molestie suscipit lorem ultrices gravida. Fusce pharetra nunc lorem, vitae volutpat arcu molestie feugiat. Vestibulum hendrerit nibh sed lectus malesuada, a euismod ante rutrum. Duis eget efficitur lacus. Maecenas aliquet consectetur faucibus. Donec a magna et est condimentum ultricies vitae vel lacus.</p>
			<h1 class="px-1">The quick brown fox jumps over the lazy dog</h1>
			<h2 class="px-1">The quick brown fox jumps over the lazy dog</h2>
			<h3 class="px-1">The quick brown fox jumps over the lazy dog</h3>
			<h4 class="px-1">The quick brown fox jumps over the lazy dog</h4>
			<h5 class="px-1">The quick brown fox jumps over the lazy dog</h5>
			<h6 class="px-1">The quick brown fox jumps over the lazy dog</h6>
			<p class="px-1">Now I will tell you the answer to my question. It is this. The Party seeks power entirely for its own sake. We are not interested in the good of others; we are interested solely in power, pure power. What pure power means you will understand presently. We are different from the oligarchies of the past in that we know what we are doing. All the others, even those who resembled ourselves, were cowards and hypocrites.</p>
			<small class="px-1 block">One morning</small>
			<hr>
			<div class="px-1">
				<h5 class="normal">Utility:</h5>
				<span class="bold">bold</span>
				<span class="italic">italic</span>
				<span class="nowrap">nowrap</span>
				<span class="pre-line">pre-line</span>
				<div class="center">center</div>
				<div class="left">left</div>
				<div class="right">right</div>
				<span class="uppercase">uppercase</span>
			</div>
		</div>
		<div class="clearfix py-4">
			<div
				ng-init="format = true"
				class="btn-group clearfix mb-2">
				<a class="btn active">format class &rarr;</a>
				<a class="btn" ng-click="format = true" ng-class="{ 'active': format }">on</a>
				<a class="btn" ng-click="format = false" ng-class="{ 'active': !format }">off</a>
			</div>
			<div
				ng-init="helpers = true"
				class="btn-group clearfix mb-2">
				<a class="btn active">helpers &rarr;</a>
				<a class="btn" ng-click="helpers = true" ng-class="{ 'active': helpers }">on</a>
				<a class="btn" ng-click="helpers = false" ng-class="{ 'active': !helpers }">off</a>
			</div>
			<div
				ng-init="fontSize = 16"
				class="btn-group clearfix">
				<a class="btn active">font-size &rarr;</a>
				<a class="btn" ng-click="fontSize = 12" ng-class="{ 'active': fontSize === 12 }">12px</a>
				<a class="btn" ng-click="fontSize = 14" ng-class="{ 'active': fontSize === 14 }">14px</a>
				<a class="btn" ng-click="fontSize = 16" ng-class="{ 'active': fontSize === 16 }">16px</a>
				<a class="btn" ng-click="fontSize = 18" ng-class="{ 'active': fontSize === 18 }">18px</a>
				<a class="btn" ng-click="fontSize = 20" ng-class="{ 'active': fontSize === 20 }">20px</a>
				<a class="btn" ng-click="fontSize = 22" ng-class="{ 'active': fontSize === 22 }">22px</a>
				<a class="btn" ng-click="fontSize = 24" ng-class="{ 'active': fontSize === 24 }">24px</a>
			</div>
		</div>

		<pre class="mt-1 mb-3 p-1">
			&lt;div class="format"&gt;<br>
				<em>&rarr;</em>&lt;h1&gt;&lt;/h1&gt;<br>
				<em>&rarr;</em>&lt;ul&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
				<em>&rarr;</em>&lt;/ul&gt;<br>
				<em>&rarr;</em>&lt;ol&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
					<em>&rarr;</em><em>&rarr;</em>&lt;li&gt;&lt;/li&gt;<br>
				<em>&rarr;</em>&lt;/ol&gt;<br>
				<em>&rarr;</em>&lt;p&gt;&lt;/p&gt;<br>
				<em>&rarr;</em>&lt;h1&gt;&lt;/h1&gt;<br>
				<em>&rarr;</em>&lt;h2&gt;&lt;/h2&gt;<br>
				<em>&rarr;</em>&lt;h3&gt;&lt;/h3&gt;<br>
				<em>&rarr;</em>&lt;h4&gt;&lt;/h4&gt;<br>
				<em>&rarr;</em>&lt;h5&gt;&lt;/h5&gt;<br>
				<em>&rarr;</em>&lt;h6&gt;&lt;/h6&gt;<br>
				<em>&rarr;</em>&lt;p&gt;&lt;/p&gt;<br>
				<em>&rarr;</em>&lt;small&gt;&lt;/small&gt;<br>
				<em>&rarr;</em>&lt;hr&gt;<br>
				<em>&rarr;</em>&lt;h5 class="normal"&gt;&lt;/h5&gt;<br>
				<em>&rarr;</em>&lt;span class="bold"&gt;&lt;/span&gt;<br>
				<em>&rarr;</em>&lt;span class="italic"&gt;&lt;/span&gt;<br>
				<em>&rarr;</em>&lt;span class="nowrap"&gt;&lt;/span&gt;<br>
				<em>&rarr;</em>&lt;span class="pre-line"&gt;&lt;/span&gt;<br>
				<em>&rarr;</em>&lt;div class="center"&gt;&lt;/div&gt;<br>
				<em>&rarr;</em>&lt;div class="left"&gt;&lt;/div&gt;<br>
				<em>&rarr;</em>&lt;div class="right"&gt;&lt;/div&gt;<br>
				<em>&rarr;</em>&lt;span class="uppercase"&gt;&lt;/span&gt;<br>
			&lt;/div&gt;
		</pre>
	</div>
</div>
