<div class="mb-4 format">
	<div class="container">
		<h1>Typo</h1>
		<p class="mb-4"><b>WIP</b> Should cover basic typography.</p>

		<h5>font-size</h5>
		<div data-grid>
			<h1>The quick brown fox jumps over the lazy dog</h1>
			<h1 class="normal">The quick brown fox jumps over the lazy dog</h1>
		</div>
		<pre class="mb-3 p-1">
			&lt;h1&gt;&lt;/h1&gt;
			&lt;div class="h1"&gt;&lt;/div&gt;
			&lt;div class="h1  normal"&gt;&lt;/div&gt;
		</pre>

		<div data-grid>
			<h2>The quick brown fox jumps over the lazy dog</h2>
			<h3>The quick brown fox jumps over the lazy dog</h3>
			<h4>The quick brown fox jumps over the lazy dog</h4>
			<h5>The quick brown fox jumps over the lazy dog</h5>
			<h6>The quick brown fox jumps over the lazy dog</h6>
			<p>Now I will tell you the answer to my question. It is this. The Party seeks power entirely for its own sake. We are not interested in the good of others; we are interested solely in power, pure power. What pure power means you will understand presently. We are different from the oligarchies of the past in that we know what we are doing. All the others, even those who resembled ourselves, were cowards and hypocrites.</p>
			<small>One morning</small>
		</div>
		<pre class="mb-3 p-1">
			&lt;h2&gt;&lt;/h2&gt;
			&lt;h3&gt;&lt;/h3&gt;
			&lt;h4&gt;&lt;/h4&gt;
			&lt;h5&gt;&lt;/h5&gt;
			&lt;h6&gt;&lt;/h6&gt;
			&lt;p&gt;&lt;/p&gt;
			&lt;small&gt;&lt;/small&gt;
		</pre>

		<h5>lists</h5>
		<div data-grid>
			<ul>
				<li>establish a dictatorship</li>
				<li>safeguard a revolution</li>
			</ul>
			<ol>
				<li>The object of persecution is persecution.</li>
				<li>The object of torture is torture.</li>
			</ol>
		</div>
		<pre class="mb-3 p-1">
			&lt;ul&gt;&lt;/ul&gt;
			&lt;ol&gt;&lt;/ol&gt;
		</pre>

		<h5>tools</h5>
		<div data-grid>
			<p>Know <em>what we</em> are doing. <b>All the others</b>, even those who <span class="uppercase">resembled</span> ourselves, were cowards and hypocrites.</p>
			<p class="pre">pre
				line</p>
			<blockquote>What pure power means you will understand presently. We are different from the oligarchies of the past in that we know what we are doing.</blockquote>
		</div>
		<pre class="mb-3 p-1">
			&lt;span class="bold"&gt;&lt;/bold&gt;
			&lt;span class="italic"&gt;&lt;/span&gt;
			&lt;span class="uppercase"&gt;&lt;/span&gt;
			&lt;span class="pre"&gt;&lt;/span&gt;
			&lt;blockquote&gt;&lt;/blockquote&gt;
		</pre>
	</div>
</div>
