.nav {
  background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(12px) brightness(120%);
}

.navItemActive:after {
  position: absolute;
  top: calc(100% - 16px);
  left: calc(50% - 24px);

  height: 2px;
  width: 48px;

  animation: example ease-in-out 100ms 1 forwards;
  background-color: var(--purple-500);
  border-radius: 4px;

  content: "";
}

@keyframes example {
  from {
    left: calc(50% - 1px);
    width: 2px;
  }
  to {
    left: calc(50% - 24px);
    width: 48px;
  }
}