body {
	background-color: white;
	color: rgba(40, 45, 90, 1);

	font-family: "Arimo", Arial;
}

.side-nav {
	top: 0;
	position: fixed;
	z-index: 1;

	width: 100%;

	background: rgba(40, 45, 90, 1);
	color: white;
}

.side-nav a {
	display: inline-block;
	padding: 1rem;

	color: white;

	font-weight: bold;
}

.side-nav a.active {
	background: white;
	color: rgba(40, 45, 90, 1);
}

main {
	opacity: 1;
	transform: translateY(0);
	transition: all 120ms ease;
}

main.ng-animate { opacity: 0; }

main.ng-enter,
main.ng-enter-active { transform: translateY(-1rem); }

.specimen { padding-top: 6rem; }

/*class indicator tooltip*/
*[data-class] { position: relative; }
*[data-class]:before {
	position: absolute;
	left: 0;
	top: 100%;

	padding: .25rem .5rem;

	background: white;
	/*box-shadow: inset 0 0 0 1px rgba(40, 45, 90, 0.25);*/
	content: attr(data-class);

	font-size: 0.75rem;
	font-weight: bold;
	white-space: nowrap;
}

*[data-class-right]:before {
	left: auto;
	right: 0;
}

div[data-cell] {
	height: 1.5rem;
	min-width: 1.5rem;

	background: rgba(80, 225, 160, 1);
	border-radius: .125rem;
	box-shadow: inset 0 0 0 1px rgba(40, 45, 90, .1);
}

div[data-grid] {
	min-height: 8rem;
	padding: .25rem;

	border-radius: .25rem .25rem 0 0;
	box-shadow: inset 0 0 0 1px #dfe0e6;
}

div[data-grid] + pre {
	margin-top: -1px;

	background: #dfe0e6;
	border-radius: 0 0 .25rem .25rem;
	box-shadow: inset 0 0 0 1px #cdcdd9;

	font-size: 0.75rem;
	font-family: "Source Code Pro", monospace;
}

.specimen--index img {
	height: 10rem;
	width: 10rem;
}
