.demo { min-height: 11rem; }
.demo.grid--screen { pointer-events: none; }

.element {
	background-color: #DFE0E6;
	color: #A2A2AD;

	font-weight: bold;
	text-align: center;
}

.element--dimensions {
	height: 5rem;
	width: 5rem;

	line-height: 5rem;
}

.element--dimensions-xl {
	height: 10rem;
	width: 10rem;
}

.element:first-child span {
	float: left;
	height: 100%;
	width: 100%;

}

.element:first-child {
	background-color: #3C3C50;
	color: white;
}
