.demo {
	min-height: 11rem;

	background-color: white;
	border-radius: 3px;
}
.demo.grid--screen { pointer-events: none; }

.element {
	background-color: #D5D6E0;
	color: #A2A2AD;

	font-weight: bold;
	text-align: center;
}

.element--dimensions {
	height: 5rem;
	width: 5rem;

	line-height: 5rem;
}

.element--dimensions-xl {
	height: 10rem;
	width: 10rem;
}

.element:first-child span {
	float: left;
	height: 100%;
	width: 100%;

	background-color: #3C3C50;
}

.element:first-child {
	background-color: #5D6FBA;
	color: white;
}
