.black { color: var(--black); }
.gray { color: var(--gray); }
.silver { color: var(--silver); }
.white { color: var(--white); }

.bg-black { background-color: var(--black); }
.bg-gray { background-color: var(--gray); }
.bg-silver { background-color: var(--silver); }
.bg-white { background-color: var(--white); }
