.black { color: black; }
.gray { color: gray; }
.silver { color: silver; }
.white { color: white; }

.bg-black { background-color: black; }
.bg-gray { background-color: gray; }
.bg-silver { background-color: silver; }
.bg-white { background-color: white; }
