@custom-media --fr-mobile (width < 360px);
@custom-media --fr-tablet (width < 720px);
@custom-media --fr-desktop (width < 1024px);
@custom-media --fr-hd (width < 1280px);

@media (--fr-hd) {
	.fr-container-large { width: var(--fr-width) !important; }
}

@media (--fr-desktop) {
	.fr-container,
	.fr-container-large {
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
		width: 100% !important;
	}
}

@media (--fr-tablet) {
	.fr-container,
	.fr-container-large {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	.fr-container-small {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
		width: 100% !important;
	}
}

@media (--fr-mobile) {
	.fr-container {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
	}
}

.fr-container,
.fr-container-small,
.fr-container-large {
	margin-left: auto;
	margin-right: auto;
}

.fr-container { width: var(--fr-width); }
.fr-container-small { width: var(--fr-width-small); }
.fr-container-large { width: var(--fr-width-large); }
