:root {
	--width-small: 480px;
	--width: 960px;
	--width-large: 1248px;
}

@custom-media --mobile (width < 360px);
@custom-media --tablet (width < 720px);
@custom-media --desktop (width < 1024px);
@custom-media --hd (width < 1280px);

@media (--hd) {
	.fr-container-large { width: var(--width) !important; }
}

@media (--desktop) {
	.fr-container,
	.fr-container-large {
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
		width: 100% !important;
	}
}

@media (--tablet) {
	.fr-container,
	.fr-container-large {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	.fr-container-small {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
		width: 100% !important;
	}
}

@media (--mobile) {
	.fr-container {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
	}
}

.fr-container,
.fr-container-small,
.fr-container-large {
	margin-left: auto;
	margin-right: auto;
}

.fr-container { width: var(--width); }
.fr-container-small { width: var(--width-small); }
.fr-container-large { width: var(--width-large); }
