.h-25 { height: 25%; }
.h-33 { height: calc(100% / 3); }
.h-50 { height: 50%; }
.h-66 { height: calc((100% / 3) * 2); }
.h-75 { height: 75%; }
.h-100 { height: 100%; }

.minvh-25 { min-height: 25vh; }
.minvh-33 { min-height: calc(100 / 3)vh; }
.minvh-50 { min-height: 50vh; }
.minvh-66 { min-height: calc((100 / 3) * 2)vh; }
.minvh-75 { min-height: 75vh; }
.minvh-100 { min-height: 100vh; }

.minvw-25 { min-width: 25vw; }
.minvw-33 { min-width: calc(100 / 3)vw; }
.minvw-50 { min-width: 50vw; }
.minvw-66 { min-width: calc((100 / 3) * 2)vw; }
.minvw-75 { min-width: 75vw; }
.minvw-100 { min-width: 100vw; }

.w-25 { width: 25%; }
.w-33 { width: calc(100% / 3); }
.w-50 { width: 50%; }
.w-66 { width: calc((100% / 3) * 2); }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
