@media (--tablet) {
	.flex--collapse.flex { flex-direction: column; }

	.flex--collapse.flex.flex--reverse,
	.flex--collapse.flex.flex--reverse.flex--column { flex-direction: column-reverse; }

	/*Prepare direct child elements for responsive layout*/
	.flex--collapse > * {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.flex { display: flex; }

.flex--wrap { flex-wrap: wrap; }
.flex--wrap-reverse { flex-wrap: wrap-reverse; }

.flex--reverse { flex-direction: row-reverse; }
.flex--reverse.grid--column { flex-direction: column-reverse; }
.flex--column { flex-direction: column; }

.flex--center {
	align-items: center;
	justify-content: center;
}

.flex--ycenter { align-items: center; }
.flex--xcenter { justify-content: center; }

.flex--around { justify-content: space-around; }
.flex--between { justify-content: space-between; }
.flex--right { justify-content: flex-end; }

.flex--baseline { align-items: baseline; }
.flex--end { align-items: flex-end; }
.flex--start { align-items: flex-start; }

.flex--screen {
	left: 0;
	position: absolute;
	top: 0;

	height: 100vh;
	width: 100%;
}

.self-center { align-self: center; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-baseline { align-self: baseline; }

.shrink-2 { flex-shrink: 2; }
.shrink-3 { flex-shrink: 3; }
.shrink-4 { flex-shrink: 4; }
.shrink-5 { flex-shrink: 5; }
.shrink-6 { flex-shrink: 6; }

.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }

.grow-1,
.grow-2,
.grow-3,
.grow-4,
.grow-5,
.grow-6 { flex-basis: 0; }

.order-first { order: -1; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-last { order: 9999; }
