.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.flex-reverse { flex-direction: row-reverse; }
.flex-reverse.flex-column { flex-direction: column-reverse; }
.flex-column { flex-direction: column; }

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-ycenter { align-items: center; }
.flex-xcenter { justify-content: center; }

.flex-around { justify-content: space-around; }
.flex-between { justify-content: space-between; }
.flex-right { justify-content: flex-end; }

.flex-baseline { align-items: baseline; }
.flex-end { align-items: flex-end; }
.flex-start { align-items: flex-start; }

.grow-1,
.grow-2,
.grow-3,
.grow-4,
.grow-5,
.grow-6 { flex-basis: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }

.self-center { align-self: center; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-baseline { align-self: baseline; }
