.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }

.grow-1,
.grow-2,
.grow-3,
.grow-4,
.grow-5,
.grow-6 { flex-basis: 0; }

.order-first { order: -1; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-last { order: 9999; }

.self-center { align-self: center; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-baseline { align-self: baseline; }

.shrink-2 { flex-shrink: 2; }
.shrink-3 { flex-shrink: 3; }
.shrink-4 { flex-shrink: 4; }
.shrink-5 { flex-shrink: 5; }
.shrink-6 { flex-shrink: 6; }
