@media (--tablet) {
	.flex--collapse.flex { flex-direction: column; }

	.flex--collapse.flex.flex--reverse,
	.flex--collapse.flex.flex--reverse.flex--column { flex-direction: column-reverse; }

	/*Prepare direct child elements for responsive layout*/
	.flex--collapse > * {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.flex--collapse > .grow-1,
	.flex--collapse > .grow-2,
	.flex--collapse > .grow-3,
	.flex--collapse > .grow-4,
	.flex--collapse > .grow-5,
	.flex--collapse > .grow-6 { flex-basis: auto; }
}

.flex { display: flex; }

.flex--wrap { flex-wrap: wrap; }
.flex--wrap-reverse { flex-wrap: wrap-reverse; }

.flex--reverse { flex-direction: row-reverse; }
.flex--reverse.grid--column { flex-direction: column-reverse; }
.flex--column { flex-direction: column; }

.flex--center {
	align-items: center;
	justify-content: center;
}

.flex--ycenter { align-items: center; }
.flex--xcenter { justify-content: center; }

.flex--around { justify-content: space-around; }
.flex--between { justify-content: space-between; }
.flex--right { justify-content: flex-end; }

.flex--baseline { align-items: baseline; }
.flex--end { align-items: flex-end; }
.flex--start { align-items: flex-start; }
