.fr-format { overflow: hidden; }

.fr-format p,
.fr-format hr,
.fr-format ul,
.fr-format ol,
.fr-format iframe {
	padding-bottom: 1em;
	padding-top: 1em;
}

.fr-format blockquote {
	padding-left: 1em;

	font-style: italic;
}

.fr-format ul,
.fr-format ol { margin-left: 2.5em; }

.fr-format ul > li { list-style-type: disc; }
.fr-format ol > li { list-style-type: decimal; }
.fr-format a { font-weight: 700; }

.fr-format hr { border-bottom: 1px solid inherit; }
