.grid {
	@media (max-width: @bp-tablet) { flex-direction: column; };

	display: flex;

	.cell {

		// Handle margins on your responsive container instead
		@media (max-width: @bp-tablet) {
			margin-left: 0;
			margin-right: 0;
		};

		flex: 1;
	}
}

// Wrap
.grid--wrap { flex-wrap: wrap; }

// Directions
.grid--reverse {
	@media (max-width: @bp-tablet) { flex-direction: column-reverse; };

	flex-direction: row-reverse;
}

.grid--reverse.grid--column {
	@media (max-width: @bp-tablet) { flex-direction: column-reverse; };

	flex-direction: column-reverse;
}

.grid--column { flex-direction: column; }

// Positions
.grid--center {
	align-items: center;
	justify-content: center;
}

.grid--hcenter { align-items: center; }
.grid--vcenter { justify-content: center; }

.grid--around { justify-content: space-around; }
.grid--between { justify-content: space-between; }
.grid--right { justify-content: flex-end; }

.grid--bottom { align-items: flex-end; }
.grid--top { align-items: flex-start; }
