.gutter-1:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-1); }
.gutter-2:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-2); }
.gutter-3:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-3); }
.gutter-4:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-4); }
.gutter-5:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-5); }
.gutter-6:not(.flex--column) > *:not(:last-of-type) { margin-right: var(--box-6); }

.flex--column.gutter-1 > *:not(:last-of-type) { margin-bottom: var(--box-1); }
.flex--column.gutter-2 > *:not(:last-of-type) { margin-bottom: var(--box-2); }
.flex--column.gutter-3 > *:not(:last-of-type) { margin-bottom: var(--box-3); }
.flex--column.gutter-4 > *:not(:last-of-type) { margin-bottom: var(--box-4); }
.flex--column.gutter-5 > *:not(:last-of-type) { margin-bottom: var(--box-5); }
.flex--column.gutter-6 > *:not(:last-of-type) { margin-bottom: var(--box-6); }
