.block { display: block; }
.none { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.float-left { float: left; }
.float-right { float: right; }

.clearfix:before,
.clearfix:after {
	display: block;
	height: 0;
	overflow: hidden;

	content: "\0020";
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
