.list-circle > li { list-style-type: circle;  }
.list-decimal > li { list-style-type: decimal;  }
.list-decimal-leading-zero > li { list-style-type: decimal-leading-zero;  }
.list-disc > li { list-style-type: disc; }
.list-greek > li { list-style-type: lower-greek; }
.list-lower-latin > li { list-style-type: lower-latin; }
.list-lower-roman > li { list-style-type: lower-roman; }
.list-none > li { list-style-type: none; }
.list-square > li { list-style-type: square; }
.list-upper-latin > li { list-style-type: upper-latin; }
.list-upper-roman > li { list-style-type: upper-roman; }

.list-comma > * { display: inline-block; }
.list-comma > *:not(:last-child):after { content: ", "; }
