-.p-0 { padding: 0; }
.p-1 { padding: var(--box-1); }
.p-2 { padding: var(--box-2); }
.p-3 { padding: var(--box-3); }
.p-4 { padding: var(--box-4); }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: var(--box-1); }
.pl-2 { padding-left: var(--box-2); }
.pl-3 { padding-left: var(--box-3); }
.pl-4 { padding-left: var(--box-4); }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: var(--box-1); }
.pt-2 { padding-top: var(--box-2); }
.pt-3 { padding-top: var(--box-3); }
.pt-4 { padding-top: var(--box-4); }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: var(--box-1); }
.pb-2 { padding-bottom: var(--box-2); }
.pb-3 { padding-bottom: var(--box-3); }
.pb-4 { padding-bottom: var(--box-4); }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: var(--box-1); }
.pr-2 { padding-right: var(--box-2); }
.pr-3 { padding-right: var(--box-3); }
.pr-4 { padding-right: var(--box-4); }
