.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }
.sticky { position: sticky; }

.bottom-0 { bottom: 0; }
.bottom-1 { bottom: var(--box-1); }
.bottom-2 { bottom: var(--box-2); }
.bottom-3 { bottom: var(--box-3); }

.left-0 { left: 0; }
.left-1 { left: var(--box-1); }
.left-2 { left: var(--box-2); }
.left-3 { left: var(--box-3); }

.right-0 { right: 0; }
.right-1 { right: var(--box-1); }
.right-2 { right: var(--box-2); }
.right-3 { right: var(--box-3); }

.top-0 { top: 0; }
.top-1 { top: var(--box-1); }
.top-2 { top: var(--box-2); }
.top-3 { top: var(--box-3); }

.z-0 { z-index: 0; }
.z-1 { z-index: 10; }
.z-2 { z-index: 20; }
.z-3 { z-index: 30; }
.z-4 { z-index: 40; }
.z-5 { z-index: 50; }
.z-6 { z-index: 60; }
.z-7 { z-index: 70; }
.z-8 { z-index: 80; }
.z-9 { z-index: 90; }
.z-10 { z-index: 100; }
