* {
	margin: 0;
	padding: 0;

	background: transparent;
	border: 0;

	font-size: 100%;
	vertical-align: baseline;
}

*,
*:before,
*:after { box-sizing: border-box; }
*:focus { outline: 0; }

html,
body { position: relative; }
html { overflow-y: scroll; }

a { text-decoration: none; }
li { list-style-type: none; }
img { max-width: 100%; }
