/*
	Reset

	Resets the box model, handles font-size and base line-height.
	Also turns on scrollbar on html, to avoid page jump.

	- no edge cases
	- no old browser support
*/

* {
	margin: 0;
	padding: 0;

	background: transparent;
	border: 0;
	outline: 0;

	font-size: 100%;
	vertical-align: baseline;
}

*,
*:before,
*:after { box-sizing: border-box; }

li { list-style-type: none; }
a { text-decoration: none; }

html,
body {
	position: relative;

	min-height: 100vh;

	font-size: var(--font-size);
	line-height: var(--line-height);
}

html { overflow-y: scroll; }
