h1 {
	font-size: var(--h1);
	line-height: var(--line-h1);
}

h2 {
	font-size: var(--h2);
	line-height: var(--line-h2);
}

h3 {
	font-size: var(--h3);
	line-height: var(--line-h3);
}

h4 {
	font-size: var(--h4);
	line-height: var(--line-h4);
}

h5 {
	font-size: var(--h5);
	line-height: var(--line-h5);
}

h6 {
	font-size: var(--h6);
	line-height: var(--line-h6);
}

p {
	font-size: var(--p);
	line-height: var(--line-p);
}

small {
	font-size: var(--small);
	line-height: var(--line-small);
}

.ellipsis {
	overflow: hidden;
	max-width: 100%;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.italic { font-style: italic; }
.normal { font-style: normal; }
.oblique { font-style: oblique; }

.light { font-weight: var(--light); }
.regular { font-weight: var(--regular); }
.bold { font-weight: var(--bold); }
.bolder { font-weight: var(--bolder); }

.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

.line-through { text-decoration: line-through; }
.overline { text-decoration: overline; }
.underline { text-decoration: underline; }

.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.pre { white-space: pre; }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
.nowrap { white-space: nowrap; }
