body {
	font-size: var(--basefont);
	line-height: var(--baseline);
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
p,
h6 { font-size: 1em; }
small { font-size: .75em; }

.ellipsis {
	overflow: hidden;
	max-width: 100%;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.italic { font-style: italic; }
.normal { font-style: normal; }
.oblique { font-style: oblique; }

.regular { font-weight: var(--regular); }
.bold { font-weight: var(--bold); }

.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

.line-through { text-decoration: line-through; }
.overline { text-decoration: overline; }
.underline { text-decoration: underline; }

.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.pre { white-space: pre; }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
.nowrap { white-space: nowrap; }
