@import url("./variables/variables.css");

sub { vertical-align: sub; }
sup { vertical-align: super; }

.ellipsis {
	overflow: hidden;
	max-width: 100%;

	text-overflow: ellipsis;
	white-space: nowrap;
}

.italic { font-style: italic; }
.normal { font-style: normal; }
.oblique { font-style: oblique; }

.regular { font-weight: var(--normal); }
.bold { font-weight: var(--bold); }

.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

.line-through { text-decoration: line-through; }
.overline { text-decoration: overline; }
.underline { text-decoration: underline; }

.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.pre { white-space: pre; }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
.nowrap { white-space: nowrap; }

.break-word { word-wrap: break-word; }
