.font-normal { font-weight: normal; }
.font-bold { font-weight: var(--bold); }

.ws-nowrap { white-space: nowrap; }
.ws-pre { white-space: pre-line; }

.text-center { text-align: center; }
.text-left {
	display: block;

	text-align: left;
}

.text-right {
	display: block;

	text-align: right;
}

.text-uppercase { text-transform: uppercase; }

h1,
.h1 {
	overflow: hidden;

	font-size: var(--s10);
	line-height: calc(1.375 * var(--s10));
	text-overflow: ellipsis;
}

h2,
.h2 {
	font-size: var(--s09);
	line-height: calc(1.375 * var(--s09));
}

h3,
.h3 {
	font-size: var(--s08);
	line-height: calc(1.25 * var(--s08));
}

h4,
.h4 {
	font-size: var(--s07);
	line-height: calc(1.25 * var(--s07));
}

h5,
.h5 {
	font-size: var(--s06);
	line-height: calc(1.25 * var(--s06));
}

h6,
.h6 {
	font-size: var(--s05);
	line-height: calc(1.25 * var(--s05));
}

p,
blockquote { margin: var(--s06) 0; }

blockquote {
	font-size: var(--s08);
	font-style: italic;
	line-height: calc(1.25 * var(--s08));
}

small {
	font-size: var(--s04);
	line-height: calc(1.25 * var(--s04));
}
