/* NOTE: will be removed */

body {
	font-size: 16px;
	line-height: 1.5;
}

img { max-width: 100%; }

li { list-style-type: none; }
a { text-decoration: none; }

/*Headers*/
h1, .h1 { font-size: 2.25rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

/*Defaults*/
pre {
	white-space: pre-line;
	word-wrap: break-word;
}

b,
strong { font-weight: bold; }

blockquote,
i,
em { font-style: italic; }

blockquote { font-size: 1.25rem; }
small { font-size: 0.75rem; }

/*Utility*/
.normal { font-weight: normal; }
.bold { font-weight: bold; }

.italic { font-style: italic; }

.nowrap { white-space: nowrap; }
.pre { white-space: pre-line; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.uppercase { text-transform: uppercase; }

/* Formatted content */
.format h1, .format .h1,
.format h2, .format .h2,
.format h3, .format .h3 { margin-bottom: .5rem; }

.format h4, .format .h4,
.format h5, .format .h5,
.format h6, .format .h6 { margin-bottom: .25rem; }

.format p,
.format hr,
.format blockquote,
.format ul,
.format ol { margin-bottom: 1.5rem; }

.format ul,
.format ol { margin-left: 1.5rem; }

.format ul > li { list-style-type: disc; }
.format ol > li { list-style-type: decimal; }
.format a { font-weight: bold; }
