/* WIP Headings */
h1 { font-size: 2.25em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
small { font-size: 0.75em; }

/* Utility */
.normal { font-weight: normal; }
.bold { font-weight: bold; }

.italic { font-style: italic; }

.nowrap { white-space: nowrap; }
.pre-line { white-space: pre-line; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.uppercase { text-transform: uppercase; }

/* Formatted content */
.format p,
.format hr,
.format ul,
.format ol {
	padding-bottom: 1em;
	padding-top: 1em;
}

.format ul,
.format ol { margin-left: 2.5em; }

.format ul > li { list-style-type: disc; }
.format ol > li { list-style-type: decimal; }
.format a { font-weight: bold; }

.format hr {
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
