:root {
	--box: 8px;
	--box-1: var(--box);
	--box-2: calc(var(--box-1) * 2);
	--box-3: calc(var(--box-1) * 3);
	--box-4: calc(var(--box-1) * 4);
	--box-5: calc(var(--box-1) * 8);
	--box-6: calc(var(--box-1) * 16);
	--box-n1: calc(var(--box-1) * -1);
	--box-n2: calc(var(--box-1) * -2);
	--box-n3: calc(var(--box-1) * -3);

	--black: black;
	--gray: gray;
	--silver: silver;
	--white: white;

	--h1: 36px;
	--h2: 32px;
	--h3: 28px;
	--h4: 24px;
	--h5: 20px;
	--h6: 16px;
	--p: 16px;
	--small: 12px;

	--line-h1: 52px;
	--line-h2: 48px;
	--line-h3: 40px;
	--line-h4: 34px;
	--line-h5: 30px;
	--line-h6: 24px;
	--line-p: 24px;
	--line-small: 18px;

	--light: 300;
	--regular: 400;
	--bold: 700;
	--bolder: 900;

	/*
		Variables in custom media queries are not supported;
		thus fr-container cannot be overwritten without direct edit.
	*/
	--fr-width-small: 480px;
	--fr-width: 960px;
	--fr-width-large: 1248px;
}
