:root {
	--box: 16px;

	--box-1: calc(var(--box) / 2);
	--box-2: var(--box);
	--box-3: calc(var(--box-2) * 2);
	--box-4: calc(var(--box-3) * 2);
	--box-5: calc(var(--box-4) * 2);

	--font-size: 16px;
	--line-height: 1.5;

	--bold: bold;
	--h1: 2.25rem;
	--h2: 2rem;
	--h3: 1.75rem;
	--h4: 1.5rem;
	--h5: 1.25rem;
	--h6: 1rem;
	--h7: 0.75rem;

	--width: 960px;
	--width-small: 480px;
}

@custom-media --mobile (max-width: 360px);
@custom-media --tablet (max-width: 720px);
@custom-media --desktop (max-width: 1024px);
@custom-media --hd (min-width: 1280px);
