:root {
	--box-1: 8px;
	--box-2: 16px;
	--box-3: 24px;
	--box-4: 32px;
	--box-5: 64px;
	--box-6: 128px;

	--black: black;
	--gray: gray;
	--silver: silver;
	--white: white;

	--basefont: 16px;
	--baseline: 1.6;

	--light: 300;
	--regular: 400;
	--bold: 700;
	--bolder: 900;
}
