@import url("./variables/variables.css");

.w-0 { width: 0; }
.w-1 { width: var(--box-1); }
.w-2 { width: var(--box-2); }
.w-3 { width: var(--box-3); }
.w-4 { width: var(--box-4); }
.w-5 { width: var(--box-5); }
.w-6 { width: var(--box-6); }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-33 { width: calc(100% / 3); }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-66 { width: calc((100% / 3) * 2); }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.maxw-10 { max-width: 10%; }
.maxw-20 { max-width: 20%; }
.maxw-25 { max-width: 25%; }
.maxw-30 { max-width: 30%; }
.maxw-33 { max-width: calc(100% / 3); }
.maxw-40 { max-width: 40%; }
.maxw-50 { max-width: 50%; }
.maxw-60 { max-width: 60%; }
.maxw-66 { max-width: calc((100% / 3) * 2); }
.maxw-70 { max-width: 70%; }
.maxw-75 { max-width: 75%; }
.maxw-80 { max-width: 80%; }
.maxw-90 { max-width: 90%; }
.maxw-100 { max-width: 100%; }
.maxw-viewport { max-width: 100vw; }

.minw-10 { min-width: 10%; }
.minw-20 { min-width: 20%; }
.minw-25 { min-width: 25%; }
.minw-30 { min-width: 30%; }
.minw-33 { min-width: calc(100% / 3); }
.minw-40 { min-width: 40%; }
.minw-50 { min-width: 50%; }
.minw-60 { min-width: 60%; }
.minw-66 { min-width: calc((100% / 3) * 2); }
.minw-70 { min-width: 70%; }
.minw-75 { min-width: 75%; }
.minw-80 { min-width: 80%; }
.minw-90 { min-width: 90%; }
.minw-100 { min-width: 100%; }
.minw-viewport { min-width: 100vw; }
