<div class="flex flex--screen flex--column index">
	<div class="flex flex--center flex--column grow-1 white center index-hero">
		<img src="/app/components/index/images/fractures.png" alt="fractures" class="logo mb-2">
		<h1>fractures</h1>
		<p>Atomic CSS toolkit.</p>
	</div>
	<div class="py-3 index-points">
		<div class="container flex flex--collapse">
			<div class="grow-1 mb-2 mr-3">
				<h3 class="regular">What it does?</h3>
				<p>Helps you bootstrap design-systems and prototypes by providing a set of non-blocking, atomic, utility <a [routerLink]="['Docs']" class="bold">classes</a>.</p>
			</div>
			<div class="grow-1 mb-2">
				<h3 class="regular">That's it?</h3>
				<p>It also soft resets HTML elements and sets a basic typescale. Leaves UI untouched.</p>
			</div>
		</div>
	</div>
</div>
