:root {
	--font-family-sans: "Inter", Arial, sans-serif;
	--font-family-serif: "Georgia";
	--font-family-mono: "IBM Plex Mono", monospace;

	--font-weight-bold: 500;
	--font-weight-bolder: 700;
}

html {
	background-color: var(--gray-0);
	color: var(--purple-900);
}

.fr-gradient--green-to-purple {
	background: linear-gradient(
		135deg,
		var(--gray-25) 0%,
		var(--purple-100) 100%
	);
}

::selection {
	background-color: hsla(var(--hsl-green-300), 0.5);
	color: var(--purple-900);
}

@media (max-width: 1360px) {
  .xxl\:none {
    display: none
  }
}

@media (max-width: 1032px) {
  .xl\:none {
    display: none;
  }

  .xl\:px-8 {
    padding-left: var(--box-8);
    padding-right:var(--box-8);
  }
}

@media (max-width: 864px) {
  .lg\:none {
    display: none;
  }

  .lg\:p-8 {
    padding: var(--box-8);
  }

  .lg\:px-3 {
    padding-left: var(--box-3);
    padding-right: var(--box-3);
  }

  .lg\:py-8 {
    padding-bottom: var(--box-8);
    padding-top: var(--box-8);
  }

  .lg\:flex-column {
    flex-direction: column;
  }

  .lg\:flex-gap-8 {
    gap: var(--box-8);
  }

  .lg\:wp-100 {
    width: 100%;
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);;
  }
}

@media (max-width: 696px) {
  .md\:flex-column {
    flex-direction: column;
  }

  .md\:flex-gap-4 {
    gap: var(--box-4);
  }

  .md\:none {
    display: none;
  }
}

@media (max-width: 444px) {
  .sm\:flex {
    display: flex;
  }

  .sm\:none {
    display: none;
  }

  .sm\:p-4 {
    padding: var(--box-4)
  }

  .sm\:px-4 {
    padding-left: var(--box-4);
    padding-right: var(--box-4);
  }
}
