:root {
	--font-family-sans: "Inter", Arial, sans-serif;
	--font-family-serif: "Georgia";
	--font-family-mono: "IBM Plex Mono", monospace;

	--font-weight-bold: 500;
	--font-weight-bolder: 700;
}

html {
	background-color: var(--gray-0);
	color: var(--purple-900);
}

body {
  background-color: var(--gray-0);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f5f5f8' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.fr-gradient--green-to-purple {
	background: linear-gradient(
		135deg,
		var(--gray-25) 0%,
		var(--purple-100) 100%
	);
}

::selection {
	background-color: hsla(var(--hsl-green-300), 0.5);
	color: var(--purple-900);
}

@media (max-width: 1360px) {
  .xxl\:none {
    display: none
  }
}

@media (max-width: 1032px) {
  .xl\:none {
    display: none;
  }

  .xl\:px-8 {
    padding-left: var(--box-8);
    padding-right:var(--box-8);
  }
}

@media (max-width: 864px) {
  .lg\:none {
    display: none;
  }

  .lg\:p-8 {
    padding: var(--box-8);
  }

  .lg\:px-3 {
    padding-left: var(--box-3);
    padding-right: var(--box-3);
  }

  .lg\:py-8 {
    padding-bottom: var(--box-8);
    padding-top: var(--box-8);
  }

  .lg\:flex-column {
    flex-direction: column;
  }

  .lg\:flex-gap-8 {
    gap: var(--box-8);
  }

  .lg\:wp-100 {
    width: 100%;
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);;
  }
}

@media (max-width: 696px) {
  .md\:flex-column {
    flex-direction: column;
  }

  .md\:flex-gap-4 {
    gap: var(--box-4);
  }

  .md\:none {
    display: none;
  }
}

@media (max-width: 444px) {
  .sm\:flex {
    display: flex;
  }

  .sm\:none {
    display: none;
  }

  .sm\:p-4 {
    padding: var(--box-4)
  }

  .sm\:px-4 {
    padding-left: var(--box-4);
    padding-right: var(--box-4);
  }
}
