.small a {
  color: var(--blue-500);

  font-weight: var(--font-weight-bold);
}

.small a:hover {
  color: var(--blue-900);
}

.small code {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-tiny);

  color: var(--purple-500);
}

.small code:after {
  content: "\`";
  color: var(--gray-300);
}

.small code:before {
  content: "\`";
  color: var(--gray-300);
}